{% extends "base.html" %}
{% load bulma_tags %}
{% load static %}
{% block title %}Register Absence{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="main">
        <h1 class="title"> Create Absence </h1>
            <form method="POST">
                {% csrf_token %}
                <div class="column is-3">
                {{form | bulma}}
                
                {% for error in form.errors %}
                <p>{{error}}</p>
                {% endfor %}
                <input type="submit" class="button is-link" value="Save">
                </div>

            </form>
    </div>
{% else %}
    <article class="message is-danger">
        <div class="message-body">
          <p>You must be logged in to use these services</p>
        </div>
      </article>
{% endif %}

{% endblock %}