{% extends 'Base.html' %}
{% load get_key %}
{% block title %}Calendar{% endblock %}
{% load static %}
{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title is-1">
        Rolls-Royce Absence Calendar
      </h1>
      <p class="subtitle is-3">
        {{current_month|date:"F"}}
      </p>
      <div class="table-container">
        <table class="table is-bordered is-striped">
          <thead>
            <th style="background-color: black; color: white;">Employee</th>
            {% for day in day_range %}
              <th style="background-color: black; color: white;">{{day}}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>{{user}}</td>
                <!-- for every day in current month- -->
                {% for day in day_range %}
                  <!-- if absence day equals day then highligh red -->
                  
                  {% if day in absence_dates|get_key:user %}
                    
                    <td style="background-color:red"></td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}