asgiref==3.4.1
astroid==2.11.5
colorama==0.4.4
dill==0.3.4
Django==3.2.9
django-bulma==0.8.3
django-ckeditor==6.5.0
django-codemirror2==0.2
django-cte==1.1.4
django-js-asset==2.0.0
django-mptt==0.9.1
django-ckeditor==6.5.0
django-recurrence==1.11.1
django-river==3.3.0
holidays==0.20
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
pylint==2.13.9
pylint-django==2.5.3
pylint-plugin-utils==0.7
python-dateutil==2.8.2
pytz==2021.3
pyYAML==6.0
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.5.0
wrapt==1.14.1
