{% extends 'base.html' %}
{% load get_key %}
{% load check_absences %}
{% load check_half_day %}
{% load check_permissions %}
{% block title %}Calendar{% endblock %}
{% load static %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/dark.css' %}"> -->

<section class="section" id="calendarTitle">
    <div class="nav-bar-padding" style="position: relative;">
        <h1 class="title is-3 dText">Absence Calendar</h1>

        <span class="tag dText"
            style="position: absolute; top: -50px; right: -50px; background: transparent; border: none; padding: 0; font-size: 0.85rem;">
            Last refreshed <span id="refreshSecBox" style="padding: 0 5px;"></span> minute(s) ago.
            <script>
                function SecondsSinceLastRefresh() {
                    const seconds = Math.floor((Date.now() - window.lastRefreshTimestamp) / 60000) || 0;
                    document.getElementById('refreshSecBox').textContent = seconds;
                }

                window.lastRefreshTimestamp = Date.now() - 5 * 60000; // 5 minutes ago
                SecondsSinceLastRefresh();
            </script>
        </span>

        <div class="px-4 py-2" style="border: 1px solid #ccc; border-radius: 6px; background-color: #f9f9f9; max-width: fit-content;">
            <h1 class="mr-2" style="font-weight: bold; font-size: 1.2rem">Key:</h1>
            <p style="pb-1">
                <span class="mr-1" style="display: inline-block; width: 15px; height: 15px; background-color: white; border: 1px solid black; vertical-align: middle;"></span>
                <span class="pr-3" style="vertical-align: middle"> No Absences </span>
                <span class="mr-1" style="display: inline-block; width: 15px; height: 15px; background-color: red; border: 1px solid black; vertical-align: middle;"></span>
                <span class="pr-3" style="vertical-align: middle"> Absence Booked </span>
                <span class="mr-1" style="display: inline-block; width: 15px; height: 15px; background-color: orange; border: 1px solid black; vertical-align: middle;"></span>
                <span style="vertical-align: middle"> Reccuring Absence </span>
            </p>
        </div>

        <div class="level mt-5">
            <div class="level-left">
                {% include 'calendars/elements/calendar_nav.html' with name='all_calendar' %}
            </div>
            <div class="level-right">
                <div class="control has-icons-left px-1">
                    <div class="tooltip">
                        <span class="tooltiptext">Sort By</span>
                        <div class="select">
                            <select id="SortBy" onchange="sortTeams(this)">
                                {% if sort_value == 'team__name' %}
                                <option value="team__name" selected>Name (A - Z)</option>
                                {% else %}
                                <option value="team__name">Name (A - Z)</option>
                                {% endif %}
                                {% if sort_value == '-team__name' %}
                                <option value="-team__name" selected>Name (Z - A)</option>
                                {% else %}
                                <option value="-team__name">Name (Z - A)</option>
                                {% endif %}
                                {% if sort_value == 'role__id' %}
                                <option value="role__id" selected>Role (High to Low)</option>
                                {% else %}
                                <option value="role__id">Role (High to Low)</option>
                                {% endif %}
                                {% if sort_value == '-role__id' %}
                                <option value="-role__id" selected>Role (Low to High)</option>
                                {% else %}
                                <option value="-role__id">Role (Low to High)</option>
                                {% endif %}
                                {% if sort_value == '-favourite' or sort_value == None %}
                                <option value="-favourite" selected>Favourited</option>
                                {% else %}
                                <option value="-favourite">Favourited</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <span class="icon is-left">
                        <i class="fas fa-filter"></i>
                    </span>
                </div>
                <div class="control has-icons-left px-1">
                    <input class="input" type="text" name="username" placeholder="Search" onkeyup="filterTeams(this)">
                    <span class="icon is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'calendars/elements/calendar_element.html'%}
<script src="{% static 'js/api_calendar.js' %}" token="{{ csrf_token }}"></script>
{% endblock %}