{% extends 'base.html' %}
{% load get_key %}
{% load check_absences %}
{% load check_half_day %}
{% load check_permissions %}
{% block title %}Calendar{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/calendar.css' %}">

{% include 'ap_app/elements/confirmation_modal.html' with title='Absence Calendar Information' type='info' %}
{% include 'ap_app/elements/confirmation_modal.html' with title='Remove Absence' type='remove' %}
{% include 'ap_app/elements/confirmation_modal.html' with title='Half Day Absence' type='half' %}

<section class="section" id="calendarTitle">
    <div class="nav-bar-padding">
        <h1 class="title is-3">Absence Calendar</h1>
        <span class="tag">
            <form class="level-right" name="LastRefreshFrm">
                Last refreshed
                <input style="font-size: small; padding-bottom:4px ;" type="text" name="refreshSecBox" size="1" class="RefreshBox" />
                <script language="javascript">
                    SecondsSinceLastRefresh();
                    </script>
                minute(s) ago.
            </form>
        </span>
        <div class="level mt-5">
            <div class="level-left">
                {% include 'calendars/calendar_nav.html' with name='all_calendar' %}
            </div>
            <div class="level-right">
                <div class="control has-icons-left px-1">
                    <div class="tooltip">
                        <span class="tooltiptext">Sort By</span>
                    <div class="select">
                        <select id="SortBy" onchange="sortTeams(this)">
                            {% if sort_value == 'team__name' %}
                            <option value="team__name" selected>Name (A - Z)</option>
                            {% else %}
                            <option value="team__name">Name (A - Z)</option>
                            {% endif %}
                            {% if sort_value == '-team__name' %}
                            <option value="-team__name" selected>Name (Z - A)</option>
                            {% else %}
                            <option value="-team__name">Name (Z - A)</option>
                            {% endif %}
                            {% if sort_value == 'role__id' %}
                            <option value="role__id" selected>Role (High to Low)</option>
                            {% else %}
                            <option value="role__id">Role (High to Low)</option>
                            {% endif %}
                            {% if sort_value == '-role__id' %}
                            <option value="-role__id" selected>Role (Low to High)</option>
                            {% else %}
                            <option value="-role__id">Role (Low to High)</option>
                            {% endif %}
                            {% if sort_value == '-favourite' or sort_value == None %}
                            <option value="-favourite" selected>Favourited</option>
                            {% else %}
                            <option value="-favourite">Favourited</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                    <span class="icon is-left">
                        <i class="fas fa-filter"></i>
                    </span>
                </div>
                <div class="control has-icons-left px-1">
                    <input class="input" type="text" name="username" placeholder="Search" onkeyup="filterTeams(this)">
                    <span class="icon is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section pt-0">
    <div class="table-container calendar-group nav-bar-padding">
        {% if team_data %}
        <table class="table is-bordered is-striped dates-table" style="box-shadow: 10px 10px 10px" id="{{ item.team.name }}">
            <thead>
                <th class="blank-cell"></th>
                {% for day in days_name %}
                {% if day == Sa and weekends.enabled or day == Su and weekends.enabled %}
                <th style="background-color: {{ weekends.offset}}; color: white;" class="CalendarCell">{{day}}</th>
                {% elif day == Sa and not weekends.enabled or day == Su and not weekends.enabled %}
                <th style="display:none"> </th>
                {% elif forloop.counter in bank_hol and bank_holidays.enabled %}
                <th style="background-color: {{ bank_holidays.offset }}; color: white;" class="CalendarCell">{{day}}</th>
                {% else %}
                <th style="background-color: rgb(255, 255, 255); color: black;" class="CalendarCell">{{day}}</th>
                {% endif %}
                {% endfor %}
            </thead>
            <thead>
                <th class="blank-cell"></th>
                {% for day in day_range %}
                {% if day == today and month == current_month and year == current_year %}
                <th style="background-color: rgb(0, 169, 236); color: rgb(255, 255, 255);" class="CalendarCell">{{day}}</th>
                {% elif day in bank_hol and bank_holidays.enabled %}
                <td style = "background-color: {{ bank_holidays.colour }}; color: rgb(255, 255, 255);" class="CalendarCell">{{day}}</td>
                {% elif day in weekend_list and weekends.enabled %}
                <td style = "background-color: {{ weekends.colour }}; color: rgb(255, 255, 255);" class="CalendarCell">{{day}}</td>
                {% elif day in weekend_list and not weekends.enabled %}
                <th style="display:none"> </th>
                {% else %}
                <th style="background-color: rgb(92, 92, 92); color: rgb(255, 255, 255);" class="CalendarCell">{{day}}</th>
                {% endif %}
                {% endfor %}
            </thead>
        </table>
        {% if team_data|length > 0 %}
        <div id="calendar-group">
            {% for item in team_data %}
            <h1 class="is-size-5 has-text-weight-bold" id="title-{{ item.team.name }}">{{ item.team.name }}</h1>
            <table class="table is-bordered is-striped" style="width: 100%" id="{{ item.team.name }}">
                <tbody>
                    {% for member in item.team.members %}
                    {% check_permissions member request.user as editable %}
                    <tr id="{{ member.user.username }}">
                        {% if member.user.username == user.username %}
                        <td class="user-cell">{{user.username}}</td>
                        {% else %}
                            {% if editable %}
                            <td>{{member.user.username}}*{{ editable }}</td>
                            {% else %}
                            <td>{{member.user.username}}*{{ editable }}</td>
                            {% endif %}
                        {% endif %}

                        {% for day in day_range %}

                            {% check_absences absence_dates|get_key:member.user.username year month_num day as check_absence %}
                            {% check_absences recurring_absence_dates|get_key:member.user.username year month_num day as check_recurring_absence %}
                            {% check_half_day half_days_data|get_key:member.user.username year month_num day as check_half_day %}
                            {% if check_recurring_absence %}
                            <td data-editable="{{editable}}" style="background-color: #ffaa00;" class="CalendarCell" id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="R"></td>
                            {% elif check_absence %}
                            <td data-editable="{{editable}}" style="background-color: #ff0000;" class="CalendarCell" id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="S"></td>
                            {% elif check_half_day == "A" %}
                            <td data-editable="{{editable}}" style="background: linear-gradient(to right, #ffffff 50%, #ff0000 50% );" class="CalendarCell" id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="A"></td>
                            {% elif check_half_day == "M" %}
                            <td data-editable="{{editable}}" style="background: linear-gradient(to right, #ff0000 50%, #ffffff 50%);" class="CalendarCell" id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="M"></td>
                            {% else %}
                                {% if day in bank_hol and bank_holidays.enabled %}
                                    <td data-editable="{{editable}}"style = "background-color: {{ bank_holidays.colour }};" class="CalendarCell" id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                                {% elif day in weekend_list and weekends.enabled %}
                                    <td data-editable="{{editable}}" style = "background-color: {{ weekends.colour }};" class="CalendarCell" id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                                {% elif day in weekend_list and not weekends.enabled %}
                                    <th style="display:none"> </th>
                                {% else %}
                                    <td data-editable="{{editable}}" class="CalendarCell" id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                                {% endif %}
                            {% endif %}

                        {% endfor %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
        {% else %}
        <div class="has-background-light box">
            <div class="is-size-5 mb-3">
                <span class="is-block is-size-5">You are not in any teams.</span>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="has-background-light box">
            <div class="is-size-5 mb-3">
                <span class="is-block is-size-5">No teams were found.</span>
                <div class="buttons">
                    <a href="{% url 'dashboard' %}" class="button is-link">View Teams</a>
                    <a href="{% url 'create_team' %}" class="button is-success">Create Team</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
<script src="{% static "js/api_calendar.js" %}" token="{{ csrf_token }}"></script>
{% endblock %}