{% load static %}
<div class="tooltip">
    <span class="tooltiptext">Refresh Calendar</span>
    {% if name == 'api_team_calendar' %}
    <a href="{% url name id=id month=current_month year=current_year %}" class="mr-4 button refresh-calendar-button">
    {% else %}
    <a href="{% url name month=current_month year=current_year %}" class="mr-4 button refresh-calendar-button">
    {% endif %}
        <span class="icon ">
            <i class="fas fa-sync"></i>
        </span>
    </a>
</div>

<form method="POST" id="month_form" class="mx-2">
    {% csrf_token %}
    <div class="tooltip">
        <span class="tooltiptext">Jump To Month</span>
        <div class="select">
            {% if name == 'api_team_calendar' %}
            <select name="month_names" id="month_names" onchange="setDate(this, {{ id }})">
            {% else %}
            <select name="month_names" id="month_names" onchange="setDate(this, 0)">
            {% endif %}
                {% for month in month_list %}
                    {% if month == selected_date %}
                        <option value="{{ month }}" selected>{{ month }}</option>
                    {% else %}
                        <option value="{{ month }}">{{ month }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</form>

{% if previous_current_year == year and month == current_month %}
<a id="previous" class="noHover button" aria-disabled="true" disabled>
    <span class="icon">
        <i class="fas fa-arrow-left"></i>
    </span>
</a>
{% else %}
<div class="tooltip">
    <span class="tooltiptext">Previous Month</span>
    {% if month_num == 1 %}
    {% if name == 'api_team_calendar' %}
    <a id="previous" href="{% url name id=id month=previous_month year=previous_year %}" class="button">
    {% else %}
    <a id="previous" href="{% url name month=previous_month year=previous_year %}" class="button">
    {% endif %}
        <span class="icon">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    {% else %}
    {% if name == 'api_team_calendar' %}
    <a id="previous" href="{% url name id=id month=previous_month year=year %}" class="button">
    {% else %}
    <a id="previous" href="{% url name month=previous_month year=year %}" class="button">
    {% endif %}
        <span class="icon">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    {% endif %}
</div>
{% endif %}

{% if next_current_year == year and month == current_month %}
<a id="next" class="noHover button" aria-disabled="true" disabled>
    <span class="icon">
        <i class="fas fa-arrow-right"></i>
    </span>
</a>
{% else %}
<div class="tooltip">
    <span class="tooltiptext">Next Month</span>
    {% if month_num == 12 %}
    {% if name == 'api_team_calendar' %}
    <a id="next" href="{% url name id=id month=next_month year=next_year %}" class="button">
    {% else %}
    <a id="next" href="{% url name month=next_month year=next_year %}" class="button">
    {% endif %}
        <span class="icon ">
            <i class="fas fa-arrow-right"></i>
        </span>
    </a>
    {% else %}
    {% if name == 'api_team_calendar' %}
    <a id="next" href="{% url name id=id month=next_month year=year %}" class="button">
    {% else %}
    <a id="next" href="{% url name month=next_month year=year %}" class="button">
    {% endif %}
        <span class="icon ">
            <i class="fas fa-arrow-right"></i>
        </span>
    </a>
    {% endif %}
</div>
{% endif %}

<div class="tooltip">
    <span class="tooltiptext">Toggle Clickable Calendar</span>
    <button id="CalendarClick-Toggle" class="button button-active mx-1">
        <span class="icon">
            <i class="fas fa-mouse-pointer"></i>
        </span>
    </button>
</div>

<div class="tooltip">
    <span class="tooltiptext">Calendar Key</span>
    <button id="Info-Toggle" class="button" onclick="openModal('info')">
        <span class="icon">
            <i class="fas fa-question"></i>
        </span>
    </button>
</div>