{% extends 'base.html' %}
{% block title %}Calendar{% endblock %}
{% load bulma_tags %}
{% load check_absences %}
{% load check_half_day %}
{% load check_permissions %}
{% load get_key %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/calendar.css' %}">

<section class="section" style="padding-left: 7.5vw!important; padding-right: 7.5vw!important;">
    {% for team_index in team_data %}
    <div class="columns">
        <div class="column">
            <h1 class="title is-4">{{ team_index.team.name }} 
                {% if user_data.role_info.role == "Owner" or user_data.role_info.role == "Co-Owner" %}
                    <span class="tag is-dark is-rounded">
                        <i class="fas fa-user-edit"></i>
                        &nbsp;{{ user_data.role_info.role }}
                    </span>
                {% else %}
                    <span class="tag is-dark is-rounded">
                        <i class="fas fa-user"></i>
                        &nbsp;{{ user_data.role_info.role }}
                    </span>
                {% endif %}
                <span class="tag is-dark is-rounded">
                    <i class="fas fa-users"></i>
                    &nbsp;{{ team_index.team.members|length }}
                </span>
            </h1>
            <p style="margin-top: -1.25rem;">{{ team_index.team.description }}</p>
        </div>
        <div class="column">
            <div class="level-right">
                <a class="button is-info is-outlined mx-1" title="Notes"><i class="fas fa-clipboard-list"></i></a>
                <a class="button is-success is-outlined mx-1" title="Add Members"><i class="fas fa-user-plus"></i></a>
                {% if user_data.role_info.role == "Owner" or user_data.role_info.role == "Co-Owner" %}
                <a class="button is-link is-outlined mx-1" title="Settings" href={% url 'edit_team' id %}><i class="fas fa-cog"></i></a>
                {% endif %}
                <button class="button is-danger mx-1" title="Leave" id="{{ id }}" onclick="LeaveTeamAndRemovePermissions(this, '{{ request.user.username }}', '{{ csrf_token }}')">Leave</button>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<section class="section" style="padding-left: 7.5vw!important; padding-right: 7.5vw!important;">
    <div class="level">
        <div class="level-left">
            {% include 'calendars/calendar_nav.html' with name='api_team_calendar' %}
        </div>
    </div>
</section>
{% include 'calendars/calendar_element.html'%}
<script src="{% static "js/api_calendar.js" %}" token="{{ csrf_token }}"></script>
<script src="{% static 'js/teams.js' %}" apiURL="{{ url }}"></script>
{% endblock %}