{% extends 'base.html' %}
{% load get_key %}
{% load check_absences %}
{% load check_half_day %}
{% load check_permissions %}
{% block title %}Calendar{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<div class="modal" id="confirmationBox">
    <div class="modal-background"></div>
    <article class="message is-danger modal-card" style="width: 25%;">
        <div class="message-header">
            <p>Absence Removal</p>
            <button class="delete" aria-label="delete" id="deleteButton"></button>
        </div>
        <div class="message-body" style="text-align: center;">
            <h1><b>This will make you Remove an Absence</b></h1>
            <p>Are you sure you want to remove this Absence?</p>
            <button class="button is-danger", id="removeAbsence"><b>Remove Absence</b></button>
            <button class="button button1", id="cancelAbsece"><b>Cancel</b></button>
        </div>
    </article>
</div>
<div class="main">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-quarter">
                <article class="message is-info" style="display: none; position: fixed; z-index: 5;", id="halfDayConfirmation">
                    <div class="message-header">
                        <p>Select Time</p>
                        <button class="delete" aria-label="delete" id="halfDayClose"></button>
                    </div>
                    <div class="message-body" style="text-align:center;">
                        <p>Morning or Afternoon?</p>
                        <button class="button is-info" id="halfDayMorning">Morning</button>
                        <button class="button is-info" id="halfDayAfternoon">Afternoon</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <section class="section">
        <div style="padding-left: 5%; padding-right: 5%;">
            <div class="level mb-1">
                <div class="level-left">
                    <h1 class="title is-3 level-item">
                        Absence Calendar
                    </h1>
                </div>
            </div>
            <br>
            <div class="level mb-6">
                <span class="tag">
                    <form class="level-right" name="LastRefreshFrm">
                        Last refreshed
                        <input style="font-size: small; padding-bottom:4px ;" type="text" name="refreshSecBox" size="1" class="RefreshBox" />
                        <script language="javascript">
                            SecondsSinceLastRefresh();
                            </script>
                        minute(s) ago.
                    </form>
                </span>
            </div>

            <br />

            <div class="level mb-3">
                <div class="level-left">

                    
                    <!-- reset button to take user back to present -->
                    <a href="/calendar/1/{{current_month}}/{{current_year}}" class="mr-4 button" title="Refresh The Calendar">
                        <span class="icon ">
                            <i class="fas fa-sync"></i>
                        </span>
                    </a>

                    <!-- If the user is in the current year then they cannot go back a year or month and view historical data -->
                    {% if current_year == year %}
                    
                    {% if current_month_num == month_num %}

                       <a id="previous" href="/calendar/1/{{previous_month}}/{{year}}" class="button" title="Previous Month">
                           <span class="icon">
                               <i class="fas fa-arrow-left"></i>
                           </span>
                       </a>

                       <a id="next" href="/calendar/1/{{next_month}}/{{year}}" class="button" title="Next Month">
                           <span class="icon ">
                               <i class="fas fa-arrow-right"></i>
                           </span>
                       </a>

                       {% elif month_num == 1 %}

                       <a id="previous" href="/calendar/1/{{previous_month}}/{{previous_year}}" class="button" title="Previous Month">
                           <span class="icon ">
                               <i class="fas fa-arrow-left"></i>
                           </span>
                       </a>
                       <a id="next" href="/calendar/1/February/{{year}}" class="button" title="Next Month">
                           <span class="icon ">
                               <i class="fas fa-arrow-right"></i>
                           </span>
                       </a>

                       {% elif month_num == 12 %}

                           <a id="previous" href="/calendar/1/{{previous_month}}/{{year}}" class="button" title="Previous Month">
                               <span class="icon ">
                                   <i class="fas fa-arrow-left"></i>
                               </span>
                           </a>
                           <a id="next" href="/calendar/1/January/{{next_year}}" class="button" title="Next Month">
                               <span class="icon ">
                                   <i class="fas fa-arrow-right"></i>
                               </span>
                           </a>

                           {% else %}

                           <a id="previous" href="/calendar/1/{{previous_month}}/{{year}}" class="button" title="Previous Month">
                               <span class="icon ">
                                   <i class="fas fa-arrow-left"></i>
                               </span>
                           </a>
                           <a id="next" href="/calendar/1/{{next_month}}/{{year}}" class="button" title="Next Month">
                               <span class="icon ">
                                   <i class="fas fa-arrow-right"></i>
                               </span>
                           </a>

                           {% endif %}

                   {% elif current_year|add:"2" == next_year %}
                       {% if month_num == 1 %}

                           <a id="previous" href="/calendar/1/December/{{previous_year}}" class="button" title="Previous Month">
                               <span class="icon ">
                                   <i class="fas fa-arrow-left"></i>
                               </span>
                           </a>
                           <a id="next" href="/calendar/1/{{next_month}}/{{year}}" class="button" title="Next Month">
                               <span class="icon ">
                                   <i class="fas fa-arrow-right"></i>
                               </span>
                           </a>

                           {% elif month_num == 12 %}

                               <a id="previous" href="/calendar/1/{{previous_month}}/{{year}}" class="button" title="Previous Month">
                                   <span class="icon ">
                                       <i class="fas fa-arrow-left"></i>
                                   </span>
                               </a>
                               <a id="next" href="" class="noHover button" aria-disabled="true" disabled>
                                   <span class="icon ">
                                       <i class="fas fa-arrow-right"></i>
                                   </span>
                               </a>


                           {% else %}

                               <a id="previous" href="/calendar/1/{{previous_month}}/{{year}}" class="button" title="Previous Month">
                                   <span class="icon ">
                                       <i class="fas fa-arrow-left"></i>
                                   </span>
                               </a>
                               <a id="next" href="/calendar/1/{{next_month}}/{{year}}" class="button" title="Next Month">
                                   <span class="icon ">
                                       <i class="fas fa-arrow-right"></i>
                                   </span>
                               </a>

                           {% endif %}

                   {% elif current_year|add:"-2" == previous_year %}

                       {% if month_num == 12 %}


                       <a id="previous" href="/calendar/1/{{previous_month}}/{{year}}" class="button" title="Previous Month">
                           <span class="icon ">
                               <i class="fas fa-arrow-left"></i>
                           </span>
                       </a>
                       <a id="next" href="/calendar/1/January/{{next_year}}" class="button" title="Next Month">
                           <span class="icon ">
                               <i class="fas fa-arrow-right"></i>
                           </span>
                       </a>

                       {% elif current_month_num == month_num %}

                       <a id="previous" href="" class="noHover button" aria-disabled="true" disabled>
                           <span class="icon">
                               <i class="fas fa-arrow-left"></i>
                           </span>
                       </a>

                       <a id="next" href="/calendar/1/{{next_month}}/{{year}}" class="button" title="Next Month">
                           <span class="icon ">
                               <i class="fas fa-arrow-right"></i>
                           </span>
                       </a>


                       {% else %}

                       <a id="previous" href="/calendar/1/{{previous_month}}/{{year}}" class="button" title="Previous Month">
                           <span class="icon ">
                               <i class="fas fa-arrow-left"></i>
                           </span>
                       </a>
                       <a id="next" href="/calendar/1/{{next_month}}/{{year}}" class="button" title="Next Month">
                           <span class="icon ">
                               <i class="fas fa-arrow-right"></i>
                           </span>
                       </a>

                   {% endif %}
                   {% endif %}
                    <a id="CalendarClick-Toggle" title="Toggle Clickable Calendar">
                        <p class="buttons">
                            <button class="button " style="border-width:2px; border-color:green" id="ClickToggle">
                                <span class="icon ">
                                    <i class="fas fa-mouse-pointer"></i>
                                </span>
                            </button>
                        </p>
                    </a>
                    <span class="is-block is-size-5 has-text-weight-semibold pl-3">{{ month }} {{ year }}</span>

                </div>
                <div class="level-right">
                    <div class="control has-icons-left px-1">
                        <div class="select">
                            <select id="SortBy" onchange="sortTeams(this)">
                                <option value="team__name">Name (A - Z)</option>
                                <option value="-team__name">Name (Z - A)</option>
                                <option value="role__id">Role (High to Low)</option>
                                <option value="-role__id">Role (Low to High)</option>
                                <option value="-favourite">Favourited</option>
                            </select>
                        </div>
                        <span class="icon is-left">
                            <i class="fas fa-filter"></i>
                        </span>
                    </div>
                    <div class="control has-icons-left px-1">
                        <input class="input" type="text" name="username" placeholder="Search" onkeyup="filterTeams(this)">
                        <span class="icon is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!--API Linear Calendar (Start)-->
            <div id="Linear-Calendars">
                <div class="table-container" style="overflow: auto; height: 400px" id="calendar-group">
                    {% if api_data %}
                        <table class="table is-bordered is-striped" style="width: 100%; position: sticky; top: 0; z-index: 999" id="{{ item.team.name }}">
                            <thead>
                                <th style="color: black; min-width: 200px; max-width: 200px;"></th>
                                {% for day in days_name %}
                                {% if day == Sa and weekends.enabled or day == Su and weekends.enabled %}
                                <th style="background-color: {{ weekends.offset}}; color: white;">{{day}}</th>
                                {% elif day == Sa and not weekends.enabled or day == Su and not weekends.enabled %}
                                <th style="display:none"> </th>
                                {% elif forloop.counter in bank_hol and bank_holidays.enabled %}
                                <th style="background-color: {{ bank_holidays.offset }}; color: white; max-width: 40px; min-width: 40px">{{day}}</th>
                                {% else %}
                                <th style="background-color: rgb(255, 255, 255); color: black; max-width: 40px; min-width: 40px">{{day}}</th>
                                {% endif %}
                                {% endfor %}
                            </thead>
                            <thead>
                                <th style="color: black; max-width: 200px; min-width: 200px;"></th>
                                {% for day in day_range %}
                                {% if day == today and month == current_month and year == current_year %}
                                <th style="background-color: rgb(0, 169, 236); color: rgb(255, 255, 255); max-width: 40px; min-width: 40px;">{{day}}</th>
                                {% elif day in bank_hol and bank_holidays.enabled %}
                                <td style = "background-color: {{ bank_holidays.colour }}; color: rgb(255, 255, 255); max-width: 40px; min-width: 40px;">{{day}}</td>
                                {% elif day in weekend_list and weekends.enabled %}
                                <td style = "background-color: {{ weekends.colour }}; color: rgb(255, 255, 255); max-width: 40px; min-width: 40px;">{{day}}</td>
                                {% elif day in weekend_list and not weekends.enabled %}
                                <th style="display:none"> </th>
                                {% else %}
                                <th style="background-color: rgb(92, 92, 92); color: rgb(255, 255, 255); max-width: 40px; min-width: 40px;">{{day}}</th>
                                {% endif %}
                                {% endfor %}
                            </thead>
                        </table>
                        {% for item in api_data %}
                        <h1 class="is-size-5 has-text-weight-bold" id="title-{{ item.team.name }}">{{ item.team.name }}</h1>
                        <table class="table is-bordered is-striped" style="width: 100%" id="{{ item.team.name }}">
                            <tbody>
                                {% for member in item.team.members %}
                                <tr id="{{ member.user.username }}">
                                    {% if member.user.username == user.username %}
                                    <td style="min-width: 200px; max-width: 200px; background-color: #0e00d6; color: white; overflow-x: auto">{{user.username}}</td>
                                    {% else %}
                                        {% check_permissions member request.user as editable %}
                                        {% if editable %}
                                        <td>{{member.user.username}}*</td>
                                        {% else %}
                                        <td>{{member.user.username}}</td>
                                        {% endif %}
                                    {% endif %}

                                    {% for day in day_range %}

                                        {% check_absences absence_dates|get_key:member.user.username year month_num day as check_absence %}
                                        {% check_absences recurring_absence_dates|get_key:member.user.username year month_num day as check_recurring_absence %}
                                        {% check_half_day half_days_data|get_key:member.user.username year month_num day as check_half_day %}
                                        {% if check_recurring_absence %}
                                        <td style="background-color: #ffaa00; min-width: 40px; max-width: 40px;", id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="R"></td>
                                        {% elif check_absence %}
                                        <td style="background-color: #ff0000; min-width: 40px; max-width: 40px; width: 80px", id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="S"></td>
                                        {% elif check_half_day == "A" %}
                                        <td style="background: linear-gradient(to right, #ffffff 50%, #ff0000 50% );", id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="A"></td>
                                        {% elif check_half_day == "M" %}
                                        <td style="background: linear-gradient(to right, #ff0000 50%, #ffffff 50%);", id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="M"></td>
                                        {% else %}
                                            {% if day in bank_hol and bank_holidays.enabled %}
                                                <td style = "background-color: {{ bank_holidays.colour }};", id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                                            {% elif day in weekend_list and weekends.enabled %}
                                                <td style = "background-color: {{ weekends.colour }}; min-width: 40px; max-width: 40px;", id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                                            {% elif day in weekend_list and not weekends.enabled %}
                                                <th style="display:none"> </th>
                                            {% else %}
                                                <td style = "min-width: 40px; max-width: 40px", id="{{member.user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                                            {% endif %}
                                        {% endif %}

                                    {% endfor %}

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    {% else %}
                    <div class="container has-background-light box">
                        <div class="is-size-5 mb-3">
                            <span class="is-block is-size-5">You are not in any teams.</span>
                            <a class="button is-link" href="http://127.0.0.1:8000/">Visit The Teams Site</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!--API Linear Calendar (END)-->

        </div>
    </section>
</div>
<script src="{% static "js/api_calendar.js" %}" token="{{ csrf_token }}">
{% endblock %}