{% extends 'base.html' %}
{% block title %}Calendar{% endblock %}
{% load bulma_tags %}
{% load check_absences %}
{% load check_half_day %}
{% load check_permissions %}
{% load get_key %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/calendar.css' %}">

{% include 'ap_app/elements/confirmation_modal.html' with title='Absence Calendar Information' type='info' %}
{% include 'ap_app/elements/confirmation_modal.html' with title='Remove Absence' type='remove' %}
{% include 'ap_app/elements/confirmation_modal.html' with title='Half Day Absence' type='half' %}

<section class="section" style="padding-left: 7.5vw!important; padding-right: 7.5vw!important;">
    <div class="columns">
        <div class="column">
            <h1 class="title is-4">{{ team.name }} 
                {% if user_data.role_info.role == "Owner" or user_data.role_info.role == "Co-Owner" %}
                    <span class="tag is-dark is-rounded">
                        <i class="fas fa-user-edit"></i>
                        &nbsp;{{ user_data.role_info.role }}
                    </span>
                {% else %}
                    <span class="tag is-dark is-rounded">
                        <i class="fas fa-user"></i>
                        &nbsp;{{ user_data.role_info.role }}
                    </span>
                {% endif %}
                <span class="tag is-dark is-rounded">
                    <i class="fas fa-users"></i>
                    &nbsp;{{ team.members|length }}
                </span>
            </h1>
            <p style="margin-top: -1.25rem;">{{ team.description }}</p>
        </div>
        <div class="column">
            <div class="level-right">
                <a class="button is-info is-outlined mx-1" title="Notes"><i class="fas fa-clipboard-list"></i></a>
                <a class="button is-success is-outlined mx-1" title="Add Members"><i class="fas fa-user-plus"></i></a>
                {% if user_data.role_info.role == "Owner" or user_data.role_info.role == "Co-Owner" %}
                <a class="button is-link is-outlined mx-1" title="Settings" href={% url 'edit_team' id=team.id %}><i class="fas fa-cog"></i></a>
                {% endif %}
                <button class="button is-danger mx-1" title="Leave" id="{{ team.id }}" onclick="LeaveTeam(this, '{{ request.user.username }}', '{{ csrf_token }}')">Leave</button>
            </div>

        </div>
    </div>
</section>
<section class="section" style="padding-left: 7.5vw!important; padding-right: 7.5vw!important;">
    <div class="level">
        <div class="level-left">
            {% include 'calendars/calendar_nav.html' with name='api_team_calendar' %}
        </div>
    </div>
    <div class="table-container" style="overflow: auto">
        <table class="table is-bordered is-striped" style="width:100%; overflow: auto">
            <thead>
                <th style="color: black;"></th>
                {% for day in days_name %}
                {% if day == 'Sa' or day == 'Su' %}
                {%comment%}<th style="background-color: #055496; color: white;">{{day}}</th>{%endcomment%}
                <th style="display:none"></th>
                {% elif forloop.counter in bank_hol%}
                <th style="background-color: #01661f; color: white;">{{day}}</th>
                {% else %}
                <th style="background-color: rgb(255, 255, 255); color: black;">{{day}}</th>
                {% endif %}
                {% endfor %}
            </thead>
            <thead>
                <th style="color: black;"></th>
                {% for day in day_range %}
                {% if day == today and month == current_month and year == current_year %}
                <th style="background-color: rgb(0, 169, 236); color: rgb(255, 255, 255);">{{day}}</th>
                {% elif day in bank_hol %}
                <td style = "background-color: #28663a; color: rgb(255, 255, 255);" onmouseover="Test">{{day}}</td>
                {% elif day in weekend_list%}
                {%comment%}<td style = "background-color: #206cab; color: rgb(255, 255, 255);">{{day}}</td>{%endcomment%}
                <td style="display:none"></td>
                {% else %}
                <th style="background-color: rgb(92, 92, 92); color: rgb(255, 255, 255);">{{day}}</th>
                {% endif %}
                {% endfor %}
            </thead>
            <tbody>
                {% for user in team.members %}
                <tr>
                    {% if user.user.username == user_data.username %}
                    <td style="background-color: #0e00d6;color: white;">{{ user.user.username }}</td>
                    {% else %}
                        {% check_permissions user request.user as editable %}
                        {% if editable %}
                        <td>{{user.user.username}}*</td>
                        {% else %}
                            <td>{{user.user.username}}</td>
                        {% endif %}
                    {% endif %}
                    {% for day in day_range %}
                        {% check_absences absence_dates|get_key:user.user.username year month_num day as check_absence %}
                        {% check_absences recurring_absence_dates|get_key:user.user.username year month_num day as check_recurring_absence %}
                        {% check_half_day half_days_data|get_key:user.user.username year month_num day as check_half_day %}
                        {% if check_recurring_absence %}
                            <td style="background-color: #ffaa00",  id="{{user.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="R"></td>
                        {% elif check_absence %}
                            <td style="background-color: #ff0000;", id="{{user.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="S"></td>
                        {% elif check_half_day == "A" %}
                            <td style="background: linear-gradient(to right, #ffffff 50%, #ff0000 50% );", id="{{user.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="A"></td>
                        {% elif check_half_day == "M" %}
                            <td style="background: linear-gradient(to right, #ff0000 50%, #ffffff 50%);", id="{{user.user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="M"></td>
                        {% else %} 
                            {% if day in bank_hol %}
                                <td style = "background-color: #28663a;", id="{{user.user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                            {% elif day in weekend_list %}
                                {%comment%}<td style = "background-color: #206cab;", id="{{user.user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>{%endcomment%}
                                <td style="display:none"></td>
                            {% else %}
                                <td id="{{user.user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<script src="{% static "js/api_calendar.js" %}" token="{{ csrf_token }}"></script>
<script src="{% static 'js/teams.js' %}" apiURL="{{ url }}"></script>
{% endblock %}