{% extends 'base.html' %}
{% load bulma_tags %}
{% block title %}Create Recurring Absence{% endblock %}
{% load static %}
{% block content %}

<div class="main container column is-4">
    <h1 class="title has-text-centered dText"> Create Recurring Absence </h1>
    <form method="POST">
        {% csrf_token %}

        <div class="field">
            <label class="label">Frequency</label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select name="frequency">
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                        <option value="yearly">Yearly</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Start Date</label>
            <div class="control">
                <input class="input" type="date" name="start_date" required>
            </div>
        </div>

        <div class="field">
            <label class="label">End Date</label>
            <div class="control">
                <input class="input" type="date" name="end_date" required>
            </div>
        </div>

        <div class="pt-1 pb-3">
            {{ form2|bulma }}
        </div>

        <button id="submit" type="submit" class="button is-fullwidth is-link">Submit</button>
    </form>
</div>

<script type="text/javascript" src="{% static 'jsi18n' %}"></script>
<script type="text/javascript" src="{% static 'js/core.js' %}"></script>
{% endblock %}