{% extends 'base.html' %}
{% load get_key %}
{% load check_absences %}
{% load check_half_day %}
{% load check_permissions %}
{% block title %}Calendar{% endblock %}
{% load static %}
{% block content %}
<style>
    .RefreshBox {
        pointer-events: none;
        text-align: right;
        background-color: ghostwhite;
        border: 0px;
        font-size: 11pt;
        width: 24px;
        height: 12px;
    }
    .AbsenceBox {
        background-color: #ff0000;
        border: 1px solid #ff0000;
        border-radius: 12px
    }
    .button1 {background-color: #f44336;} /* Red */ 
    .button2 {background-color: #32cd32;} /* Green */
    .button3 {background-color: #black;} /* Black */ 
</style>

  
<div class="main">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-quarter">
                <article class="message is-" style="display: none; position: fixed; z-index: 5;", id="halfDayConfirmation">
                    <div class="message-header">
                        <h1><b>You are creating a half-day booking</b></h1>                   
                        <button class="delete" aria-label="delete" id="halfDayClose"></button>
                    </div>
                    <div class="message-body" style="text-align:center;">
                        <p><b>Select Time</b></p>
                        <p>Morning or Afternoon?</p>
                        <button class="button button3" id="halfDayMorning"><b>Morning</b></button>
                        <button class="button button3" id="halfDayAfternoon"><b>Afternoon</b></button>
                    </div>
                </article>
                <article class="message is-" style="display: none; position: fixed; z-index: 5;" id="confirmationBox">
                    <div class="message-header">
                        <p>Absence Removal</p>
                        <button class="delete" aria-label="delete" id="absenceClose"></button>
                    </div>
                    <div class="message-body" style="text-align: center;">
                        <h1><b>This will make you Remove an Absence</b></h1>
                        <p>Are you sure you want to remove this Absence?</p>
                        <button class="button button2", id="removeAbsence"><b>Remove Absence</b></button>
                        <button class="button button1", id="cancelAbsece"><b>Cancel</b></button>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <section class="section">
        <div style="padding-left: 5%; padding-right: 5%;">
            <div class="level mb-1">
                <div class="level-left">
                    <h1 class="title is-3 level-item">
                        Absence Calendar
                    </h1>
                </div>
            </div>
            <br>
            <div class="level mb-6">
                <span class="tag">
                    <form class="level-right" name="LastRefreshFrm">
                        Last refreshed
                        <input style="font-size: small; padding-bottom:4px ;" type="text" name="refreshSecBox" size="1" class="RefreshBox" />
                        <script language="javascript">
                            SecondsSinceLastRefresh();
                            </script>
                        minute(s) ago.
                    </form>
                    
                </span>
                
                {% if users_hidden %}
                <span class="tag">
                    <p>Some Users are hidden due to privacy</p>
                </span>
                {% endif %}
                
                <!-- Colour Key Prototype -->
                <!-- <div class="level-right">
                    <div class="container">

                        <p>Colour Key:</p>
                        
                            <button id="Hoverable-Recurring" style="background-color: #ffaa00; font-weight:bold;">Recurring
                            </button> 
                        
                            <p id="InfoPopup-Recurring">Absence which will recurre on specified day for user</p>
                        
                            <button style="background-color: #ff0000; font-weight:bold;">Absent</button> 
                 
                    </div>
                </div> -->
                
                
            </div>
            <div class="level mb-0">
                <div class="level-left">
                    
                    <!-- reset button to take user back to present -->
                    <a href="/calendar/0/{{current_month}}/{{current_year}}" class="mr-4 button" title="Refresh The Calendar">
                        <span class="icon ">
                            <i class="fas fa-sync"></i>
                        </span>
                    </a>

                    <!-- If the user is in the current year then they cannot go back a year or month and view historical data -->
                    {% if current_year == year %}
                    
                    {% if current_month_num == month_num %}

                       <a id="previous" href="/calendar/0/{{previous_month}}/{{year}}" class="button">
                           <span class="icon">
                               <i class="fas fa-arrow-left"></i>
                           </span>
                       </a>

                       <a id="next" href="/calendar/0/{{next_month}}/{{year}}" class="button">
                           <span class="icon ">
                               <i class="fas fa-arrow-right"></i>
                           </span>
                       </a>

                       {% elif month_num == 1 %}

                       <a id="previous" href="/calendar/0/{{previous_month}}/{{previous_year}}" class="button">
                           <span class="icon ">
                               <i class="fas fa-arrow-left"></i>
                           </span>
                       </a>
                       <a id="next" href="/calendar/0/February/{{year}}" class="button">
                           <span class="icon ">
                               <i class="fas fa-arrow-right"></i>
                           </span>
                       </a>

                       {% elif month_num == 12 %}

                           <a id="previous" href="/calendar/0/{{previous_month}}/{{year}}" class="button">
                               <span class="icon ">
                                   <i class="fas fa-arrow-left"></i>
                               </span>
                           </a>
                           <a id="next" href="/calendar/0/January/{{next_year}}" class="button">
                               <span class="icon ">
                                   <i class="fas fa-arrow-right"></i>
                               </span>
                           </a>

                           {% else %}

                           <a id="previous" href="/calendar/0/{{previous_month}}/{{year}}" class="button">
                               <span class="icon ">
                                   <i class="fas fa-arrow-left"></i>
                               </span>
                           </a>
                           <a id="next" href="/calendar/0/{{next_month}}/{{year}}" class="button">
                               <span class="icon ">
                                   <i class="fas fa-arrow-right"></i>
                               </span>
                           </a>

                           {% endif %}

                   {% elif current_year|add:"2" == next_year %}
                       {% if month_num == 1 %}

                           <a id="previous" href="/calendar/0/December/{{previous_year}}" class="button">
                               <span class="icon ">
                                   <i class="fas fa-arrow-left"></i>
                               </span>
                           </a>
                           <a id="next" href="/calendar/0/{{next_month}}/{{year}}" class="button">
                               <span class="icon ">
                                   <i class="fas fa-arrow-right"></i>
                               </span>
                           </a>

                           {% elif month_num == 12 %}

                               <a id="previous" href="/calendar/0/{{previous_month}}/{{year}}" class="button">
                                   <span class="icon ">
                                       <i class="fas fa-arrow-left"></i>
                                   </span>
                               </a>
                               <a id="next" href="" class="noHover button" aria-disabled="true" disabled>
                                   <span class="icon ">
                                       <i class="fas fa-arrow-right"></i>
                                   </span>
                               </a>


                           {% else %}

                               <a id="previous" href="/calendar/0/{{previous_month}}/{{year}}" class="button">
                                   <span class="icon ">
                                       <i class="fas fa-arrow-left"></i>
                                   </span>
                               </a>
                               <a id="next" href="/calendar/0/{{next_month}}/{{year}}" class="button">
                                   <span class="icon ">
                                       <i class="fas fa-arrow-right"></i>
                                   </span>
                               </a>

                           {% endif %}

                   {% elif current_year|add:"-2" == previous_year %}

                       {% if month_num == 12 %}


                       <a id="previous" href="/calendar/0/{{previous_month}}/{{year}}" class="button">
                           <span class="icon ">
                               <i class="fas fa-arrow-left"></i>
                           </span>
                       </a>
                       <a id="next" href="/calendar/0/January/{{next_year}}" class="button">
                           <span class="icon ">
                               <i class="fas fa-arrow-right"></i>
                           </span>
                       </a>

                       {% elif current_month_num == month_num %}

                       <a id="previous" href="" class="noHover button" aria-disabled="true" disabled>
                           <span class="icon">
                               <i class="fas fa-arrow-left"></i>
                           </span>
                       </a>

                       <a id="next" href="/calendar/0/{{next_month}}/{{year}}" class="button">
                           <span class="icon ">
                               <i class="fas fa-arrow-right"></i>
                           </span>
                       </a>


                       {% else %}

                       <a id="previous" href="/calendar/0/{{previous_month}}/{{year}}" class="button">
                           <span class="icon ">
                               <i class="fas fa-arrow-left"></i>
                           </span>
                       </a>
                       <a id="next" href="/calendar/0/{{next_month}}/{{year}}" class="button">
                           <span class="icon ">
                               <i class="fas fa-arrow-right"></i>
                           </span>
                       </a>




                   {% endif %}
                   {% endif %}

                   <form method="POST" action="/calendar/set_month">
                    {% csrf_token %}
                    <div class="select">
                        <select name="month_names" id="month_names">
                            {% for month in month_list %}
    
                                {% if month == selected_date %}
    
                                    <option value="{{ month }}" selected>{{ month }}</option>
    
                                {% else %}
    
                                    <option value="{{ month }}">{{ month }}</option>
    
                                {% endif %}
                                
                            {% endfor %}
                        </select>
                    </div>
                    <button class="button" type="submit">
                        <span class="icon">
                            <i class="fas fa-check" aria-hidden="true"></i>
                        </span>
                    </button>
                </form>


                    <a id="CalendarFormatAlternate-Grid" title="Alternate Calendar View">
                        <p class="buttons">
                            <button class="button " style="border-width:2px;" id="GridSelect">
                                <span class="icon ">
                                    <i class="fa fa-th" aria-hidden="true"></i>
                                </span>
                            </button>
                        </p>
                    </a>
                    <a id="CalendarFormatAlternate-Linear" title="Main Calendar View">
                        <p class="buttons">
                            <button class="button " style="border-width:2px; border-color:green;" id="LinearSelect">
                                <span class="icon ">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </span>
                            </button>
                        </p>
                    </a>
                    <a id="CalendarClick-Toggle" title="Toggle Clickable Calendar">
                        <p class="buttons">
                            <button class="button " style="border-width:2px; border-color:green" id="ClickToggle">
                                <span class="icon ">
                                    <i class="fas fa-mouse-pointer"></i>
                                </span>
                            </button>
                        </p>
                    </a>
                    <a id="CalendarClick-Toggle" title="Calendar Booking Functions">
                        <p class="buttons">
                            <button class="button " style="border-width:2px; border-color:green" id="question-mark">
                                <span class="icon ">
                                    <i class="fas fa-question"></i>
                                </span>
                            </button>
                        </p>
                    </a>
                    <article class="message is-" style="display: none; position: fixed; z-index: 5;" id="confirmationBox">
                        <div class="message-header">
                            <p>Absence Removal</p>
                            <button class="delete" aria-label="delete" id="question-mark"></button>
                        </div>
                        <div class="message-body" style="text-align: center;">
                            <h1><b>This will make you Remove an Absence</b></h1>
                            <p>Are you sure you want to remove this Absence?</p>
                            <button class="button button2", id="removeAbsence"><b>Remove Absence</b></button>
                            <button class="button button1", id="cancelAbsece"><b>Cancel</b></button>
                        </div>
                    </article>
  
  
                </div>

                    

                
                <div class="level-right">
                    <!-- Key for table colours -->
                    <!-- <div class="level-item">
                        <button class="button is-static" style="background-color: #0e00d6; color:white">You</button>
                    </div> -->

                    <div class="level-right">
                        <form method="get" class="field has-addons">
                            <!-- Key for table colours -->
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="username" placeholder="Search">
                                    <span class="icon is-left">
                                        <i class="fas fa-search"></i>
                                    </span>
                            
                                    <input class="checkbox" type="checkbox" name="absent"> Filter By Absence
                                </div>
                                <button class="button is-info is-outlined mx-1" type="submit"><i class="fas fa-filter"></i></button>
                        </form>
                    </div>

                </div>
            </div>
            <!--DIO CHANGES--> <!--This add a text explaining how each colour works, for example half day and full day-->
        <p style="color:red">Use Left Click to select a full day</p>
        <p style="color:red">Use Shift Left Click to select a half-day</p>
        <p style="color:black">If half-day booked, top half of the box means Afternoon has been marked as absence, bottom half means Morning has been marked as absence</p>
            <!-- Prototype Grid-Based Calendar -->
            <div id="Grid-Calendar">

                <table class="table is-bordered is-striped" style="width:auto; display:inline-block;">
                    <!-- Thread has constant values - (day headings) which is the very top row -->
                    <thread style="width:100%">
                        <th style="color:black">Mo</th>
                        <th style="color:black">Tu</th>
                        <th style="color:black">We</th>
                        <th style="color:black">Th</th>
                        <th style="color:black">Fr</th>
                        <th class="is-primary" style="color:white">Sa</th>
                        <th class="is-primary" style="color:white">Su</th>
                    </thread>
                    <tr></tr>
                    
    
                    <!-- First initial cells will be blank as 1st day of month will be ambigious e.g. ('Wednesday' 1st Feb 2023) -->     
                    
               
    
                    {% for day in detailed_calendar_day_range %}
    
    
                           
                            {% if day == -1 %}
                                <th style="background-color: rgb(113, 113, 113); color: black;"></th>
                            {% else %}
                          
                                <!-- Start new line/row once Mon-Sun has been applied to calendar -->
                                {% if forloop.counter0|divisibleby:7 %}
                                    <tr>
    
                                    </tr>
                                {% endif %}
                                    
                                {% if day == Sa or day == Su %}
                                <th class="is-primary is is-bordered">{{day}}</th>
                                {% else %}
                                <th style="background-color: rgb(255, 255, 255); color: black; text-align:center">{{day}}</th>
                                {% endif %}
                            
                            {% endif %}
                        
                    {% endfor %}
                </table>
            </div>



            <!-- Calendar starts here . . . -->
            <div id="Linear-Calendar">
                <div class="table-container" style="overflow: auto">
                    <table class="table is-bordered is-striped" style="width:100%">
                        <thead>
                            <th style="color: black;"></th>
                            {% for day in days_name %}
                            {% if day == Sa or day == Su %}
                            <th style="background-color: #055496; color: white;">{{day}}</th>
                            {% elif forloop.counter in bank_hol%}
                            <th style="background-color: #01661f; color: white;">{{day}}</th>
                            {% else %}
                            <th style="background-color: rgb(255, 255, 255); color: black;">{{day}}</th>
                            {% endif %}
                            {% endfor %}
                        </thead>
                        <thead>
                            <th style="color: black;"></th>
                            {% for day in day_range %}
                            {% if day == today and month == current_month and year == current_year %}
                            <th style="background-color: rgb(0, 169, 236); color: rgb(255, 255, 255);">{{day}}</th>
                            {% elif day in bank_hol %}
                            <td style = "background-color: #28663a; color: rgb(255, 255, 255);" onmouseover="Test">{{day}}</td>
                            {% elif day in weekend_list%}
                            <td style = "background-color: #206cab; color: rgb(255, 255, 255);">{{day}}</td>
                            {% else %}
                            <th style="background-color: rgb(92, 92, 92); color: rgb(255, 255, 255);">{{day}}</th>
                            {% endif %}
                            {% endfor %}
                        </thead>
                        <tbody>
                            {% for user in users_filter %}
                            <tr>
                                {% if user.id == users.0.id %}
                                <td style="background-color: #0e00d6;color: white;">{{user.username}}</td>
                                {% else %}
                                    {% if user|check_permissions:users.0 %}
                                        <td>{{user.username}}*</td>
                                    {% else %}
                                        <td>{{user.username}}</td>
                                    {% endif %}
                                {% endif %}
                                <!-- for every day in current month- -->
                                {% for day in day_range %}
                                    <!-- if absence day equals day then highlights red -->
                                    {% check_absences absence_dates|get_key:user.username year month_num day as check_absence %}
                                    {% check_absences recurring_absence_dates|get_key:user.username year month_num day as check_recurring_absence %}
                                    {% check_half_day half_days_data|get_key:user.username year month_num day as check_half_day %}
                                    {% if check_recurring_absence %}
                                        <td style="background-color: #ffaa00",  id="{{user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="R"></td>
                                    {% elif check_absence %}
                                        <td style="background-color: #ff0000;", id="{{user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="S"></td>
                                    {% elif check_half_day == "A" %}
                                        <td style="background: linear-gradient(to right, #ffffff 50%, #ff0000 50% );", id="{{user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="A"></td>
                                    {% elif check_half_day == "M" %}
                                        <td style="background: linear-gradient(to right, #ff0000 50%, #ffffff 50%);", id="{{user.username}}/{{year}}-{{month_num}}-{{day}}/TRUE" data-absence-type="M"></td>
                                    {% else %} 
                                        {% if day in bank_hol %}
                                            <td style = "background-color: #28663a;", id="{{user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                                        {% elif day in weekend_list %}
                                            <td style = "background-color: #206cab;", id="{{user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                                        {% else %}
                                            <td id="{{user.username}}/{{year}}-{{month_num}}-{{day}}/FALSE"></td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}                                
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="{% static "js/api_calendar.js" %}" token="{{ csrf_token }}"></script>
<script>
    // Colour Key Prototype 
    // $(document).ready(function()
    // {
    //     $("#Hoverable-Recurring").hover(function()
    //     {
    //         $("#InfoPopup-Recurring").show();
    //     },
    //     function()
    //     {
    //         $("#InfoPopup-Recurring").hide();
    //     }
    //     )
    // });

    $("#Grid-Calendar").hide();
    
    $("#CalendarFormatAlternate-Grid").click(function() {
          
        $("#Grid-Calendar").show();
        $("#Linear-Calendar").hide();

        $("#GridSelect").css("border-color", "green");
        $("#LinearSelect").css("border-color", "");

        
    });

    $("#CalendarFormatAlternate-Linear").click(function() {
        $("#Linear-Calendar").show();
        $("#Grid-Calendar").hide();
        
        $("#LinearSelect").css("border-color", "green");
        $("#GridSelect").css("border-color", "");

    });
    {% comment %} var calendarCickToggle = true;
    //This is a script to detect what id has been clicked on then add that day to be absence
    var csrftoken = '{{ csrf_token }}';
    document.addEventListener('click', function(e) {
        if (calendarCickToggle == true) {
            if ( e.target.id.includes("/")) {
                var data = e.target.id.split("/"); var ID = data[0]; var date = data[1]; var absent = data[2]
                if (absent == "FALSE") {
                    //This is for full days
                    if (e.shiftKey) {
                        document.getElementById("halfDayConfirmation").style.display = "block";
                        var halfDayMorning = document.getElementById("halfDayMorning")
                        halfDayMorning.onclick = function() {
                            halfDayConfirmation.style.display = "none";
                            var correct_data = JSON.stringify({"id": ID, "date": date, "half_day": true, "half_day_time": "M"})
                            fetch("http://127.0.0.1:8000/absence/click_add", {
                                method: "post",
                                headers: {
                                    "X-CSRFToken": csrftoken,
                                },
                                body: correct_data
                                })
                                .then((res) => {
                                    console.log(res.json())
                                    location.reload();
                                })
                                .catch(err => {
                                    console.log(err)
                                });
                        }
                        var halfDayAfternoon = document.getElementById("halfDayAfternoon")
                        halfDayAfternoon.onclick = function() {
                            halfDayConfirmation.style.display = "none";
                            var correct_data = JSON.stringify({"id": ID, "date": date, "half_day": true, "half_day_time": "A"})
                            fetch("http://127.0.0.1:8000/absence/click_add", {
                                method: "post",
                                headers: {
                                    "X-CSRFToken": csrftoken,
                                },
                                body: correct_data
                                })
                                .then((res) => {
                                    console.log(res.json())
                                    location.reload();
                                })
                                .catch(err => {
                                    console.log(err)
                                });
                        }
                    } else {
                        var correct_data = JSON.stringify({"id": ID, "date": date, "half_day": false})
                        fetch("http://127.0.0.1:8000/absence/click_add", {
                        method: "post",
                        headers: {
                            "X-CSRFToken": csrftoken,
                        },
                        body: correct_data
                        })
                        .then((res) => {
                            console.log(res.json())
                            location.reload();
                        })
                        .catch(err => {
                            console.log(err)
                        });
                    }
                }
                if (absent == "TRUE") {
                    var confirmationPage = document.getElementById("confirmationBox");
                    confirmationPage.style.display = "block";
                    var removeAbsenceButton = document.getElementById("removeAbsence");
                    removeAbsenceButton.onclick = function() {
                        var jsonData = JSON.stringify({"id" : ID, "date": date})
                        fetch("http://127.0.0.1:8000/absence/click_remove", {
                            method: "post",
                            headers: {
                                "X-CSRFToken": csrftoken,
                            },
                            body: jsonData
                        })
                            .then((res) => {
                                console.log(res.json())
                                location.reload();
                            })
                            .catch(err => {
                                console.log(err)
                            });
                        confirmationPage.style.display = "none";
                    }
                    var cancelButton = document.getElementById("cancelAbsece");
                    cancelButton.onclick = function() {
                        confirmationPage.style.display = "none";
                    }
                }
                }
        }
    }, false);
    var calendarClickButton = document.getElementById("ClickToggle")
    calendarClickButton.onclick = function() {
        if (calendarCickToggle == false) {
            calendarClickButton.style.borderColor = "green";
            calendarCickToggle = true
        } else {
            calendarClickButton.style.borderColor = "red";
            calendarCickToggle = false
        }
    }
    var halfDayClose = document.getElementById("halfDayClose")
    halfDayClose.onclick = function() {
        halfDayConfirmation.style.display = "none";
    } {% endcomment %}

</script>

<!--This add a text explaining how each colour works, for example half day and full day-->

<!--<h1 style="border:red; border-width:3px; border-style:solid;"> Red Box = Full Day, Right Click to activate </h1>-->
<!--<h1 style="border:purple; border-width:3px; border-style:solid;"> Purple Box = Half Day, Shift + Right Click to activate</h1>-->

{% endblock %}