{% extends "base.html" %}
{% block title %}Details{% endblock %}
{% load static %}
{$ block content $}
<body>
    <a href="http://localhost:8000/ap_app/calendar/"> Return to calendar <a>
    <h1> date & other necessary details </h1>
    <br>
    <h1>Staff: </h1>
    {% for date in employee_dicts %}  
        {% for i in date %}
            {% if i.attendence == "here" %}   
                <div class="active">
                    <p>{{ i.name }} </p>
                </div>
            {% else %}
                <div class="absent">
                    <p> {{ i.name }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</body>
{$ endblock $}
