{% extends 'Base.html' %}
{% load bulma_tags %}
{% block title %}Create Recurring Absence{% endblock %}
{% load static %}
{% block content %}



<div class="main container column is-3">
    <h1 class="title has-text-centered"> Edit Recurring Absence </h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
            {{ form.media }}
            {{form}}
            {% for error in form.errors %}
            <p>{{error}}</p>
            {% endfor %}
            <input type="submit" class="button is-fullwidth is-info" value="Update">


    </form>
</div>

{% endblock %}