{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% load bulma_tags %}
{% load static %}
{% block content %}

<div id="delete-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Are you sure you want to delete this absence?</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <footer class="modal-card-foot">
      <a class="button is-danger" href="" id="delete-btn">Delete</a>
      <a class="button is-info">Cancel</a>
    </footer>
  </div>
</div>

<nav class="">
  <div class="block has-text-centered" style="position:absolute; left:0; right:0; margin-top:10px;">
    <h1 class="title">My Absences</h1>
  </div>

  <!-- Left side -->
  <div class="" style="float:right; position: relative;padding-top: 8px;">
    <a class="button is-info" href="/profile/settings"><i class="fas fa-cog"></i></a>
  </div>
  <div class="level-right submit" style="position: relative; padding-right: 10px;">
    <form method="POST" class="level">
      {% csrf_token %}
      <input type="submit" class="button is-link level-item mt-2" value="Switch" id="button", href="{% url 'profile' %}">
      
      <div class="level-item">
        {{form | bulma}}
      </div>

    </form>

  </div>
</nav>

<div class="main container mt-6">
  <div id="message" onclick="close_message()">
    {% if message %}
    {% include "messages.html" %}
    {% endif %}
  </div>
  <br>
  {% if not absences and not recurring_absences.items%}

  <div class="container has-background-light box">
    <div class="is-size-5 mb-3">
      <span class="is-block is-size-5">No absences reported.</span>
    </div>
  </div>
  {% endif %}


  <div class="mt-2">
    <div class="columns is-multiline">
      {% for absence in absences %}
      <div class="column is-one-third">
        <div class="card has-background-light p-4 has-text-centered">
          <span class="is-block is-size-5 has-text-weight-bold"> Start date: {{ absence.absence_date_start }}</span>
          <span class="is-block is-size-5 has-text-weight-bold">End date: {{ absence.absence_date_end }}</span>
          <div class="mx-auto">
            <a class="button is-info" href="/absence/edit/{{ absence.pk }}">Edit</a>
            <a class="button is-danger" href="/absence/delete/{{ absence.pk }}/{{request.user.id}}">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="mt-2">
    <div class="columns is-multiline">
      {% for id, absence in recurring_absences.items %}
      {% for x in absence %}
      <div class="column is-6">
        <div class="card has-background-light p-4 has-text-centered">
          {{x}}
          {% if not x|check_rule %}
          <p style="color:red"> This rule needs editing, there needs to be a day/month specified
          </p>
            {% endif %}
          <div class="mx-auto">
            <a class="button is-info" href="/absence/edit_recurring/{{ id }}">Edit</a>
            <a class="button is-danger" href="/absence_recurring/delete/{{id}}/{{request.user.id}}/">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>


</div>
<script>

  document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal() {
      $el = document.getElementById("delete-modal");
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target =

        $trigger.addEventListener('click', (e) => {
          openModal($target);
        });
      $("#delete-btn").attr("href", "/absence/delete/" + $trigger.dataset.id)
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      const e = event || window.event;

      if (e.keyCode === 27) { // Escape key
        closeAllModals();
      }
    });

    
    
  });



  function close_message() {
    
    var elem = document.getElementById("message");
    elem.style.display = "none";

  }
    // $(document).ready(function(){
    //   $("#button").click(setTimeout(close_message(), 2000));
      
    // })
 

</script>
{% endblock %}