{% extends "base.html" %}
{% load bulma_tags %}
{% load static %}
{% block title %}Settings{% endblock %}
{% block content %}

<body>

    <div class="columns is-centered">
        <div class="column is-one-third mt-4">
            <div class="darkBox box">
                <h3 class="dText title is-4">User Information</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">
                            <div class="dText">First Name</div>
                        </label>
                        <div class="control">
                            {% if user.first_name %}
                            <input class="input subDarkBox is-rounded dSuccess" type="text" placeholder="First Name"
                                value="{{ user.first_name }}" name="firstName" minlength="2" pattern="[A-Za-z\s]+"
                                title="What name has numbers in it...">
                            {% else %}
                            <input class="input subDarkBox is-rounded dWarning" type="text" placeholder="First Name"
                                name="firstName" minlength="2" pattern="[A-Za-z\s]+">
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">
                            <div class="dText">Last Name</div>
                        </label>
                        <div class="control">
                            {% if user.last_name %}
                            <input class="input subDarkBox is-rounded dSuccess" type="text" placeholder="Last Name"
                                value="{{ user.last_name }}" name="lastName" minlength="2">
                            {% else %}
                            <input class="input subDarkBox is-rounded dWarning" type="text" placeholder="Last Name"
                                name="lastName" minlength="2">
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">
                            <div class="dText">Email</div>
                        </label>
                        <div class="control has-icons-right">
                            {% if user.email %}
                            <input class="input subDarkBox is-rounded dSuccess" type="email" placeholder="Email Address"
                                name="email" id="email-input" value="{{ user.email }}">
                            <span class="icon is-small is-right">
                                <button class="delete" aria-label="delete"
                                    onclick="deleteInputtedValue('email-input')"></button>
                            </span>
                            {% else %}
                            <input class="input subDarkBox is-rounded dWarning" type="email" placeholder="Email Address"
                                name="email">
                            {% endif %}
                        </div>
                    </div>

                    <form method="POST" id="region_form">
                        <label class="label">
                            <div class="dText">Region</div>
                        </label>
                        {% csrf_token %}
                            <div class="select">
                            <select class="subDarkBox Dropdown dText" name="region">
                                {% for country in countries %}
                                {% if country == current_country %}
                                <option value="{{country}}" selected="selected">{{country}}</option>
                                {% else %}
                                <option value="{{country}}">{{country}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </form>

                    <div class="field pt-3">
                        <label class="label">
                            <div class="dText">Data Settings</div>
                        </label>
                        <div class="control">
                            <label style="display: flex; gap: 10px;">
                                {% if dark_mode %}
                                <input type="checkbox" checked="checked" id="darkModeToggle" name="dark"></input>
                                {% else %}
                                <input type="checkbox" id="darkModeToggle" name="dark"></input>
                                {% endif %}
                                <div class="dText">
                                    Toggle Dark Mode
                                </div>
                            </label>
                        </div>
                    </div>  
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link darkModeBlue">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-link darkModeRed">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="darkBox box">
                <h3 class="title is-4">
                    <div class="dText">App Information</div>
                </h3>
                <label class="label">
                    <div class="dText">Permission Settings</div>
                </label>
                <nav class="control">
                    <div class="permission_input_select darkBox is-flex is-align-items-center is-justify-content-space-between is-flex-wrap-wrap"
                        style="gap: 0.5rem;">
                        <div class="control is-flex-grow-1">
                            <input class="input subDarkBox is-rounded dSuccess dText" placeholder="Add a user"
                                type="text" id="user_permission_input">
                        </div>
                        <div class="control">
                            {% csrf_token %}
                            <button class="button is-link darkModeBlue"
                                onclick="addUserPermission( '{{ csrf_token }}' )">Submit</button>
                        </div>
                    </div>
                </nav>

                <h6>
                    <div class="dText">Users with permission to edit your absences:</div>
                </h6>
                <div class="tags">
                    {% for user in userprofile.edit_whitelist.all %}
                    <span class="tag is-dark">{{user}}</span>
                    {% endfor %}
                </div>

                <label class="label">
                    <div class="dText">Calendar Settings</div>
                </label>
                {% for colour in colours %}
                <h6 class="dText">
                    <div class="dText">{{ colour.name }}</div>
                </h6>
                <div class="permission_input_select">
                    {% include 'ap_app/elements/colour_picker.html' with colour_value=colour.colour name=colour.name enabled=colour.enabled %}
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <div id="stylesheet-paths" darkmode-location="{% static 'css/dark.css' %}"
        lightmode-location="{% static 'css/light.css' %}">
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
    <script src="{% static 'js/profile_update.js' %}"></script>
    <script src="{% static 'js/darkMode.js' %}"></script>

</body>
{% endblock %}