{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>

      <script language="javascript">
        var pageRefreshCounter = 0;
        function SecondsSinceLastRefresh () {
        // add 1 to current value of pageRefreshCounter
        pageRefreshCounter++;
        // update our input box
        document.LastRefreshFrm.refreshSecBox.value = pageRefreshCounter;
        // call SecondsSinceLastRefresh () every second;
        // note 1000 milliseconds = 1 second
        // if you change 1000 to 60000 that will call the function every 1 minute.
        // This will display the time in minutes since the page was last refreshed!
        setTimeout("SecondsSinceLastRefresh ()", 60000);
        }
        </script>
  
    <title>{% block title %}{% endblock %} - RR Absence</title>
    <style>     
    </style>
</head>

<body>
  {% if PRODUCTION_UI == True %} 
  <section class="hero rr-primary">
      <div class="hero-body ">
        <p class="title rr-primary">          
          Absence Planner
        </p>
        <p class="subtitle rr-white">
          v0.03
        </p>
      </div>
  </section>

  <nav class="navbar rr-secondary">
    <div class="navbar-brand">
      <div class="navbar-burger burger rr-white" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu rr-secondary" >
    <div class="navbar-start" style="margin-left: 48px">

  {% else %}
  <section class="hero rr-dev-primary">
      <div class="hero-body ">
        <p class="title rr-dev-primary">          
          Absence Planner
        </p>
        <p class="subtitle rr-white">
          v0.03
        </p>
      </div>
  </section>

  <nav class="navbar rr-dev-secondary">
    <div class="navbar-brand">
      <div class="navbar-burger burger rr-white" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu rr-dev-secondary" >
    <div class="navbar-start" style="margin-left: 48px">
  {% endif %}


{% if user.is_authenticated %}
  
      {% if home_active %}
      <a id="home" class="navbar-item icon-text active" href="/">
      {% else %}
      <a id="home" class="navbar-item icon-text" href="/">
      {% endif %}
          
        <span class="icon is-size-5">
          <i class="fas fa-home"></i>
        </span>
        <span>Home/Calendar</span>
      </a>

      {% if add_absence_active %}
      <a id="absence" class="navbar-item icon-text active" href="/absence/add">
      {% else %}
      <a id="absence" class="navbar-item icon-text" href="/absence/add">
      {% endif %}

        <span class="icon is-size-5">
          <i class="fas fa-calendar-plus"></i>
        </span>
        <span>Add Absence</span>
      </a>
      
      {% if teamspage_active %}
      <a id="teams" class="navbar-item icon-text active" href="/teams">
      {% else %}
      <a id="teams" class="navbar-item icon-text" href="/teams">
      {% endif %} 

        <span class="icon is-size-5">
          <i class="fas fa-users"></i>
        </span>
        <span>Teams</span>
      </a>


{% else %}
    <a class="navbar-item icon-text" href="/">
      <span class="icon is-size-5">
        <i class="fas fa-home"></i>
      </span>
      <span>Home</span>
    </a>
{% endif %}
    </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field is-grouped">
          <div class="buttons">
            {% if user.is_authenticated %}
                <a id="profile" href="/profile/" class="button is-info">{{request.user.username}}
                  <i class="fas fa-user-circle ml-2 is-size-5"></i>
                </a>
                <a id="logout" href="{% url 'logout' %}" class="button is-light">Log out</a>
            {% else %}
                <a id="signup" href="{% url 'signup' %}" class="button is-info">
                  <strong>Sign up</strong>
                </a>
                <a id="login" href="{% url 'login' %}" class="button is-light">
                  Log in
                </a>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>
</nav>

<container>
  <div id="content" , name="content" , class="main">
      {% block content %}
      {% endblock %}
  </div>
</container>

  <footer class="footer">
    <div class="content has-text-centered">
      <h4>Absence Planner</h4>
      <p>Created by Rolls-Royce.
        <br>
         View the Privacy Policy <a href="/privacy/">here</a>.
      </p>
    </div>
  </footer>

</body>

<script>
  'use strict';

document.addEventListener('DOMContentLoaded', function () {

  // Dropdowns in navbar

  var $dropdowns = getAll('.navbar-item.has-dropdown:not(.is-hoverable)');

  if ($dropdowns.length > 0) {
    $dropdowns.forEach(function ($el) {
      $el.addEventListener('click', function (event) {
        event.stopPropagation();
        $el.classList.toggle('is-active');
      });
    });

    document.addEventListener('click', function (event) {
      closeDropdowns();
    });
  }

  function closeDropdowns() {
    $dropdowns.forEach(function ($el) {
      $el.classList.remove('is-active');
    });
  }

  // Close dropdowns if ESC pressed
  document.addEventListener('keydown', function (event) {
    var e = event || window.event;
    if (e.keyCode === 27) {
      closeDropdowns();
    }
  });

  // Toggles

  var $burgers = getAll('.burger');

  if ($burgers.length > 0) {
    $burgers.forEach(function ($el) {
      $el.addEventListener('click', function () {
        var target = $el.dataset.target;
        var $target = document.getElementById(target);
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }

  // Functions

  function getAll(selector) {
    return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
  }
});
</script>



</html>

