{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% load static %}
{% block content %}
{% load bulma_tags %}
<div class="main container column is-3 ">
    <h1 class="title has-text-centered dText">Sign up</h1>
    <form method="post">
        {% csrf_token %}
        {{ form | bulma }}

        <div class="field">
            <label class="checkbox">
                <input type="checkbox" id="showPassword" onclick="togglePasswords(this)">
                Show passwords
            </label>
        </div>
        <p class="dText is-size-7 has-text-right">Already have an account? <a href="/accounts/login">Log In</a></p>
        <button id="submit" type="submit" class="button mt-1 is-link">Sign Up</button>
    </form>
</div>
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}