{% load static %}
<form method="post" action="{% url 'update-colour' %}">
    {% csrf_token %}
    <nav class="navbar">
        <div class="control">
            <div class="select is-rounded">
              <select name="enabled">
                {% if enabled %}
                <option value="True" selected>On</option>
                <option value="False">Off</option>
                {% else %}
                <option value="False" selected>Off</option>
                <option value="True">On</option>
                {% endif %}
              </select>
            </div>
        </div>
        <div class="control">
            <input type="color" class="input is-rounded" style="width: 10vw;" value="{{ colour_value }}" name="colour" />
        </div>
        <div class="control">
            <button class="button is-rounded" type="submit">
                Submit
            </button>
        </div>
    </nav>
    <input type="hidden" name="name" value="{{ name }}"></input>
</form>