{% load static %}
<div class="modal" style="z-index: 50!important;" id="{{ type }}">
    <div class="modal-background" id="modalBackground" data-modal-id="{{ type }}"></div>
    <div class="modal-card">
        {% if PRODUCTION_UI %}
        <header class="modal-card-head rr-primary">
        {% else %}
        <header class="modal-card-head rr-dev-primary">
        {% endif %}
            <p class="modal-card-title rr-white">{{ title }}</p>
            <button class="delete" aria-label="close" onclick="closeModal('{{ type }}')"></button>
        </header>
        <section class="modal-card-body darkBackground">
            {% if type == 'remove' %}
            <p class="dText">Are you sure you want to remove this absence?</p>
            {% elif type == 'info' %}
            <p class="dText">Use Left Click to select a full day.
                <br><br>Use Shift Left Click to select a half-day.
                <br><br>If half-day booked, left side of the box means Morning has been marked as absence, right half means Afternoon has been marked as absence.
                <br><br>To remove absence click on the red box again and a Remove Absence box will appear for you.
                <br><br>If your day is green, that means it is a bank holiday on that selected day.
                <br><br>
            </p>
            <div id="info-box">
                <div style="background-color:red; height:30px; width:30px; border: 1px solid black; float: left;" class="mr-2"></div> <p class="p-1 dText">Whole day</p>
                <div style="background:linear-gradient(to right, #ff0000 50%, transparent 50%); height:30px; width:30px; border: 1px solid black; float: left;" class="mr-2"></div> <p class="p-1 dText">Morning</p>
                <div style="background:linear-gradient(to right, transparent 50%, #ff0000 50% ); height:30px; width:30px; border: 1px solid black; float: left;" class="mr-2"></div> <p class="p-1 dText">Afternoon</p>
            </div>
            {% elif type == 'half' %}
            <p class="dText">Would you like the absence to be in the morning or afternoon?</p>
            {% endif %}
        </section>
        {% if PRODUCTION_UI %}
        <div class="modal-card-foot rr-secondary is-justify-content-flex-end">
        {% else %}
        <div class="modal-card-foot rr-dev-secondary is-justify-content-flex-end">
        {% endif %}
            {% if type == 'remove' %}
            <button class="button is-info" id="{{type}}BTN">Confirm</button>
            <button class="button is-light" onclick="closeModal('{{ type }}')">Cancel</button>
            {% elif type == 'info' %}
            <button class="button is-light" onclick="closeModal('{{ type }}')">Close</button>
            {% elif type == 'half' %}
            <button class="button is-info" id="morningBTN">Morning</button>
            <button class="button is-info" id="afternoonBTN">Afternoon</button>
            {% endif %}
        </div>
    </div>
</div>