{% extends 'base.html' %}
{% load get_key %}
{% load check_absences %}
{% load bulma_tags %}
{% block title %}Calendar{% endblock %}
{% load static %}
{% block content %}

<style>
    .RefreshBox {
        pointer-events: none;
        text-align: right;
        background-color: ghostwhite;
        border: 0px;
        font-size: 11pt;
        width: 24px;
        height: 12px;
    }
</style>

<div class="main">
    <section class="section">
        <div style="padding-left: 100px; padding-right: 100px">
            <div class="level">
                <div class="level-left">
                    <h1 class="title is-3 level-item">{{team.name}}
                        {% if team.private %}
                        <span class="tag is-dark ml-2">Private</span>
                        {% elif not team.private %}
                        <span class="tag is-dark ml-2">Public</span>
                        {% endif %}
                    </h1>
                </div>
                <div class="level-right">
                    <a id="notes" class="button is-info is-outlined mx-1" href="{% url 'misc' team.id %}"><em
                            class="fas fa-clipboard"></em></a>
                    {% if current_user.role.role == "Owner" %}
                    <a class="button is-primary is-outlined modal-button js-modal-trigger" id="invites">
                        <i class="fas fa-user-plus"></i>
                    </a>
                    <a id="settings" class="button is-info is-outlined mx-1" href="{% url 'team_settings' team.id %}">
                        <i class="fas fa-cog"></i>
                    </a>
                    {% endif %}

                    <a id="leave" class="button is-danger" href="{% url 'leave_team' current_user.id %}">Leave</a>
                </div>
            </div>
            <p class="my-3">{{team.description}}</p>

            <div class="level mb-6">
                <span class="tag">
                    <form class="level-right" name="LastRefreshFrm">
                        {% csrf_token %}
                        Last refreshed
                        <input type="text" name="refreshSecBox" size="1" class="RefreshBox" readonly>
                        <script language="javascript">
                            SecondsSinceLastRefresh();
                        </script>
                        minute(s) ago.
                    </form>
                </span>

                {% if hiding_users %}
                <span class="tag">
                    Some users are hidden due to privacy
                </span>
                {% endif %}
            </div>
            <div class="level">
                <div class="level-left">
                    <a href="/teams/calendar/{{team.id}}/{{current_month}}/{{year}}" class="mr-4 button">
                        <span class="icon ">
                            <i class="fas fa-sync"></i>
                        </span>
                    </a>
                



                    

                    <!-- If the user is in the current year then they cannot go back a year or month and view historical data -->
                    {% if current_year == year %}
                    
                    {% if current_month_num == month_num %}
                    
                    <a id="previous" href="" class="noHover button" aria-disabled="true" disabled>
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </a>

                    <a id="next" href="/teams/calendar/{{team.id}}/{{next_month}}/{{year}}" class="button">
                        <span class="icon ">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>

                    {% elif month_num == 12 %}

                    <a id="previous" href="/teams/calendar/{{team.id}}/{{previous_month}}/{{year}}" class="button">
                        <span class="icon ">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </a>
                    <a id="next" href="/teams/calendar/{{team.id}}/January/{{next_year}}" class="button">
                        <span class="icon ">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>

                    {% else %}

                    <a id="previous" href="/teams/calendar/{{team.id}}/{{previous_month}}/{{year}}" class="button">
                        <span class="icon ">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </a>
                    <a id="next" href="/teams/calendar/{{team.id}}/{{next_month}}/{{year}}" class="button">
                        <span class="icon ">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>

                    {% endif %}

                    {% elif current_year|add:"2" == next_year %}
                    {% if month_num == 1 %}

                    <a id="previous" href="/teams/calendar/{{team.id}}/December/{{previous_year}}" class="button">
                        <span class="icon ">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </a>
                    <a id="next" href="/teams/calendar/{{team.id}}/{{next_month}}/{{year}}" class="button">
                        <span class="icon ">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>

                    {% elif month_num == 12 %}

                    <a id="previous" href="/teams/calendar/{{team.id}}/{{previous_month}}/{{year}}" class="button">
                        <span class="icon ">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </a>
                    <a id="next" href="" class="noHover button" aria-disabled="true" disabled>
                        <span class="icon ">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>


                    {% else %}

                    <a id="previous" href="/teams/calendar/{{team.id}}/{{previous_month}}/{{year}}" class="button">
                        <span class="icon ">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </a>
                    <a id="next" href="/teams/calendar/{{team.id}}/{{next_month}}/{{year}}" class="button">
                        <span class="icon ">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                    {% endif %}
                    {% endif %}
                    <span class="is-size-4 mb-0 px-3">{{month}} {{year}}</span>
                </div>

                <!-- Search box and filter button -->
                <div class="level-right">
                    <form method="get" class="field has-addons">

                        <!-- Key for table colours -->
                        <div class="level-item">
                            <!-- <button class="button" style="background-color: #0e00d6; color:white">You</button> -->
                        </div>
                        <div class="control has-icons-left">
                            <input class="input" type="text" name="username" placeholder="Search">
                            <span class="icon is-left">
                                <i class="fas fa-search"></i>
                            </span>

                            <input class="checkbox" type="checkbox" name="absent"> Filter By Absence
                        </div>
                        <button class="button is-info is-outlined mx-1" type="submit"><i
                                class="fas fa-filter"></i></button>
                    </form>
                </div>
            </div>


            <!-- Calendar table -->

            <div class="table-container" style="display: flex; justify-content: center; overflow: auto; width:100% ">
                <table class="table is-bordered is-striped" style="margin: auto;">
                    <thead>
                        <th style="color: black;"></th>
                        {% for day in days_name %}
                        {% if day == Sa or day == Su%}
                        <th class="is-primary">{{day}}</th>
                        {% else %}
                        <th style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">{{day}}</th>
                        {% endif %}
                        {% endfor %}
                    </thead>
                    <thead>
                        <th style="color: black;"></th>
                        {% for day in day_range %}
                        <th style="background-color: rgb(92, 92, 92); color: rgb(255, 255, 255);">{{day}}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            {% if user.role == owner and user.id == current_user.id %}
                            <td style="background-color: #0e00d6; color:white">{{user.user.username}}(Owner)</td>
                            {% elif user.role == owner %}
                            <td>{{user.user.username}}(Owner)</td>
                            {% elif user.id == current_user.id %}
                            <td style="background-color: #0e00d6; color:white">{{user.user.username}}</td>
                            {% else %}
                            <td>{{user.user.username}}</td>
                            {% endif %}
                            <!-- for every day in current month- -->
                            {% for day in day_range %}
                            <!-- if absence day equals day then highlights red -->
                            {% check_absences absence_dates|get_key:user year month_num day as check_absence %}
                            {% check_absences recurring_absence_dates|get_key:user year month_num day as check_recurring_absence %}
                            {% if check_recurring_absence %}
                            <td style="background-color: #ffaa00"></td>
                            {% elif check_absence %}
                            <td style="background-color: #ff0000"></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<!-- Invite Users - Modal -->
<section class="section">
    <div class="container">
        <div id="delete-modal" class="modal">
            <div class="modal-background">
            </div>
            <div class="modal-content">

                <div class="box">
                    <h1 class="title">Invite a Member</h1>
                    <!-- Search Bar -->
                    <div class="control block has-icons-left level-right">
                        <input class="input" type="text" placeholder="Search">
                        <span class="icon is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>

                    <!-- For person in database -->
                    {% for user in all_users %}
                    <div class="level mb-0">
                        <p class="level-left">{{user.username}}</p>
                        <div class="level-right">
                            <a id="{{user.username}}_member" href="{% url 'team_invite' team.id user.id 'Member' %}" class="button is-success mx-2">Invite as Member</a>
                            <a id="{{user.username}}_follower" href="{% url 'team_invite' team.id user.id 'Follower' %}" class="button is-link">
                                Invite as Follower
                            </a>
                        </div>
                    </div>
                    <hr class="my-2">
                    {% endfor %}

                </div>
            </div>

            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal() {
            $el = document.getElementById("delete-modal");
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target =

                $trigger.addEventListener('click', (e) => {
                    openModal($target);
                });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
    function close_message() {

        var elem = document.getElementById("message");
        elem.style.display = "none";

    }
</script>

{% endblock %}