{% extends 'Base.html' %}
{% load bulma_tags %}
{% block title %}Join Team{% endblock %}
{% load static %}
{% block content %}

<!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script> -->



<div class="main container">
    
    <h1 class="title">Create a Team</h1>
    <form method="post" class="text-center">
        {% if message %}
        {% include "messages.html" %}
        {% endif %}
        {% csrf_token %}
      

        <p id="namePromt"></p>
        

        {{ form | bulma }}
        
        


    <input class="button is-link" type="submit" value="Submit" onclick="makeAlert()">
    </form>
</div>

<script>
    var words = [
        "Team1",
        "Team2",
        "team3"
    ];


    const existingTeams = "{{ existing_teams|safe }}".split(",");
    const existingTeamIds = "{{ existing_teams_ids|safe }}".split(",")

    const teamInputTag = document.getElementById("nameInput");

    // {{ existing_teams|safe }};
    
    
    var nameFound = false;
    var foundTeamIndex = null;

    function determineValid(item, index, arr){
        if (item == $("#nameInput").val())
        {
            foundTeamId = existingTeamIds[index];
            nameFound = true;
        }
    }

    function teamsInfoBox()
    {
        // If link has not already been implemented below team-name input
        if (!document.getElementById("temp"))
        {
            

            var teamLink = "calendar/" + foundTeamId;
            var str = "<a id='temp' href='" + teamLink + "'>See <strong>" + $("#nameInput").val() + "</strong>" + " Info</a>";

            //$("#nameInput").insertBefore(str);
            
            teamInputTag.insertAdjacentHTML("afterend", str);
        }
    };

    $(document).ready(function(){
        $("#nameInput").keyup(function(){
            nameFound = false;
            var inputVal = $("#nameInput").val();
            existingTeams.forEach(determineValid);
            
            $("#namePromt").html("");
            
            if (nameFound)
            {
                $("#nameInput").css("color", "red");
                $("#namePromt").append("<strong style='color:red'> Name Taken </strong>");
                teamsInfoBox(inputVal);
            }            
            else
            {
                $("#nameInput").css("color", "green");
                $("#temp").remove()
            }
        });

    });
  

</script>





{% endblock %}