{% extends 'base.html' %}
{% block title %}Teams Dashboard{% endblock %}
{% load static %}
{% block content %}

<div class="container">
    <div class="columns">
        <div class="column is-half">
            <a id="create" class="column button is-medium is-success icon-text" href="{% url 'create_team' %}">
                </i>Create A Team<i class="fas fa-plus ml-3"></i>
            </a>
        </div>

        <div class="column is-half">
            <a id="join" class="column button is-medium is-info icon-text" href="{% url 'join_team' %}">
                </i>Join A Team<i class="fas fa-user-friends ml-3"></i>
            </a>
        </div>
    </div>

    {% if not external_teams %} 
    <div class="level">
        <div class="level-left">
            <h3 class="has-text-weight-bold is-size-5 my-3">Local Teams ({{rels.count}})</h3>
        </div>
        <div class="level-right">
            <a id="invites" class="level-item p-1 has-text-link" href="{% url 'view_invites' %}">
                <i class="fas fa-envelope is-size-3 m-0"></i>
                <span class="tag is-danger is-rounded is-size-7 m-0" style="transform: translate(-12px, -12px)">
                {{invite_count}}</span>
            </a>
        </div>
    </div>

    {% if not rels %}
        <div class="container has-background-light box">
            <div class="is-size-5 mb-3">
                <span class="is-block is-size-5">There are no teams yet.</span>
            </div>
            <div class="is-block is-size-6">
                <a id="create" class="button is-link" href="{% url 'create_team' %}">Create a team</a>
            </div>
        </div>
    {% endif %}
    {% if message %}
        {% include "messages.html" %}
    {% endif %}
    {% for rel in rels %}
        <div class="container has-background-light box">
            <div class="is-size-5 mb-3">
                <span class="is-block is-size-5	has-text-weight-bold">{{rel.team.name}} <i class="fas fa-users mx-1"></i>{{rel.team.count}}</span>
                {% if rel.team.private %}
                    <span class="tag is-dark">Private</span>
                {% elif not rel.team.private %}
                    <span class="tag is-dark">Public</span>
                {% endif %}
                
                <span class="tag is-info">{{rel.role.role}}</span>
            </div>
            <span class="is-block is-size-6">{{rel.team.description}}</span>
            <div class="is-block mt-3">
                <a id="{{rel.team.name}}" class="button is-link" href="{% url 'Calendar' rel.team.id %}">View</a>
                <a id="leave_{{rel.team.name}}" class="button is-danger" href="{% url 'leave_team' rel.id %}">Leave</a>                
            </div>
        </div>
    {% endfor %}
    {% endif %}

    <div class="level">
        <div class="level-left">
            <h3 class="has-text-weight-bold is-size-5 my-3">External Teams ({{external_teams|length}})</h3>
        </div>
    </div>

    {% if not external_teams %}
    <div class="container has-background-light box">
        <div class="is-size-5 mb-3">
            <span class="is-block is-size-5">No external teams found.</span>
        </div>
    </div>
    {% else %}
    {% for team in external_teams %}
    <div class="container has-background-light box">
        <div class="is-size-5 mb-3">
            <span class="is-block is-size-5	has-text-weight-bold">{{ team.team.name }} <i class="fas fa-users mx-1"></i>{{ team.team.members|length }}</span>
            {% if team.team.private %}
                <span class="tag is-info is-rounded">
                    <i class="fas fa-lock"></i>&nbsp;Private
                </span>
            {% else %}
                <span class="tag is-info is-rounded">
                    <i class="fas fa-unlock"></i>&nbsp;Public
                </span>
            {% endif %}
            {% if team.role.role == "Owner" or team.role.role == "Co-Owner" %}
                <span class="tag is-dark is-rounded">
                    <i class="fas fa-user-edit"></i>
                    &nbsp;{{ team.role.role }}
                </span>
            {% else %}
                <span class="tag is-dark is-rounded">
                    <i class="fas fa-user"></i>
                    &nbsp;{{ team.role.role }}
                </span>
            {% endif %}
        </div>
        <span class="is-block is-size-6">{{team.team.description}}</span>
        <div class="level-right mt-3">
            <a class="button is-link mx-1" href={% url 'api_team_calendar' id=team.team.id %}>View</a>
            {% if team.role.role == "Owner" or team.role.role == "Co-Owner"%}
            <a class="button is-info mx-1" href={% url 'edit_team' id=team.team.id %}>Edit</a>
            {% endif %}
            <a class="button is-danger mx-1">Leave</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    
</div>
{% endblock %}