{% extends "base.html" %}
{% load bulma_tags %}
{% load static %}
{% block title %}Edit Team{% endblock %}

{% block content %}
<div class="container is-centered p-5">
        <h1 class="title">{{ team.name }}</h1>
        <h2 class="subtitle">{{ team.description }}</h2>

        <div class="has-background-light box">
            <span class="is-block is-size-5 has-text-weight-bold">
                <i class="fas fa-users"></i>
                Members
            </span>
            {% for role in roles %}
            <span class="is-block is-size-6 has-text-weight-bold">{{ role }}s</span>
            <div class="field is-grouped is-grouped-multiline">
                {% for member in team.members %}
                    {% if member.user.role_info.role == role.role %}
                    <span class="tag is-dark">
                        {{ member.user.username }}
                    </span>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="has-background-light box">
            <span class="is-block is-size-5 has-text-weight-bold">
                <i class="fas fa-cog"></i>
                Team Management
            </span>
            <form class="py-1">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Name:</label>
                    <input class="input" type="text" value="{{ team.name }}" required/> 
                </div>
                <div class="field">
                    <label class="label py-1">Description:</label>
                    <textarea class="textarea">{{ team.description }}</textarea>
                </div>
                <div class="field">
                    <label class="label py-1">Private:</label>
                    <label class="checkbox">
                        <input type="checkbox" />
                        Private Team
                    </label>
                </div>
                <input class="button is-link" type="submit" value="Submit" />
            </form>
        </div>
</div>
{% endblock %}