{% extends 'base.html' %}
{% block title %}Join Team{% endblock %}
{% load static %}
{% block content %}

<div class="container">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <a class="button is-link" href="/teams/">Back to Dashboard</a>
            </div>
        </div>

        <div class="level-right">
            <form method="get" class="field has-addons">
                <input class="input" type="text" name="teamName" placeholder="Search for a Team">
                <button class="button is-link" type="submit">Search</button>
            </form>

        </div>

    </div>

    {% if not all_teams or not joined_teams %}
    <div class="container has-background-light box">
        <div class="is-size-5 mb-3">
            <span class="is-block is-size-5">There are no teams to join.</span>
            <a class="button is-link" href="{% url 'create_team' %}">Create a team</a>
        </div>
    </div>
    {% endif %}

    <label for="chkJoined" class="checkbox">
        <input type="checkbox" id="chkJoined" onclick="ShowHideDiv(this)"> Show joined teams </input>
    </label>

    {% if message %}
        {% include "messages.html" %}
    {% endif %}
    {% for team in joined_teams %}

    <div style="display: none" class="container has-background-light box joined_teams">
        <div class="is-size-5 mb-3">
            <span class="is-block is-size-5 has-text-weight-bold">{{team.name}} <i
                    class="fas fa-user-alt mx-2"></i>{{team.count}}</span>
            {% if team.private %}
            <span class="tag is-dark">Private</span>
            {% elif not team.private %}
            <span class="tag is-dark">Public</span>
            {% endif %}
        </div>
        <span class="is-block is-size-6">{{team.description}}</span>
        <div class="is-block mt-3">
            <span class="is-block is-size-6">You are already a member of this team.</span>
            <a class="button is-success" href="{% url 'Calendar' team.id %}">View Team</a>
        </div>
    </div>
    {% endfor %}

    {% for teams in all_teams %}
    <div class="container has-background-light box">
        <div class="is-size-5 mb-3">
            <span class="is-block is-size-5	has-text-weight-bold">{{teams.name}} <i
                    class="fas fa-user-alt mx-2"></i>{{teams.count}}</span>
            {% if teams.private %}
            <span class="tag is-dark">Private</span>
            {% elif not teams.private %}
            <span class="tag is-dark">Public</span>
            {% endif %}
        </div>
        <span class="is-block is-size-6">{{teams.description}}</span>
        <div class="is-block mt-3">
            {% if teams.private %}
            <a  class="button is-success" id="apply_member_{{teams.name}}" href="{% url 'join_team_2' teams.id 'Member' %}">Apply as Member</a>
            <a class="button is-link" id="apply_follower_{{teams.name}}" href="{% url 'join_team_2' teams.id 'Follower' %}">Apply as Follower</a>
            {% else %}
            <a class="button is-success" id="join_member_{{teams.name}}" href="{% url 'join_team_2' teams.id 'Member' %}">Join as Member</a>
            <a class="button is-link" id="join_follower_{{teams.name}}" href="{% url 'join_team_2' teams.id 'Follower' %}">Join as Follower</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
    function ShowHideDiv(chkJoined) {
        var dvJoined = document.getElementsByClassName("joined_teams")
        for (var i = 0; i < dvJoined.length; i += 1) {
            dvJoined[i].style.display = chkJoined.checked ? "block" : "none";
        }
    }

</script>
{% endblock %}