{% extends 'Base.html' %}
{% block title %}Join Team{% endblock %}
{% load static %}
{% block content %}

<div class="container">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <a class="button is-link" href="/teams/">Back to Dashboard</a>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="field has-addons">
                    <form method="get">
                        <div class="control"><input class="input" name="teamsName" type="text" placeholder="Search for a Team"></div>
                        <div class="control"><a class="button is-link" type="submit">Search</a></div>
                    </form>
                </div>            
            </div>
        </div>
    </div>

{% if not all_teams or not joined_teams %}
<div class="container has-background-light box">
    <div class="is-size-5 mb-3">
        <span class="is-block is-size-5">There are no teams to join.</span>
        <a class="button is-link" href="{% url 'create_team' %}">Create a team</a>
    </div>
</div>
{% endif %}
    
    <label for="chkJoined" class="checkbox">
        <input type="checkbox" id="chkJoined" onclick="ShowHideDiv(this)"> Show joined teams </input>
    </label>

    {% for team in joined_teams %}
    <div id="dvJoined" style = "display: none" class="container has-background-light box">
        <div class="is-size-5 mb-3">
            <span class="is-block is-size-5 has-text-weight-bold">{{team.name}} <i class="fas fa-user-alt mx-2"></i>{{team.count}}</span>
            {% if team.private %}
                <span class="tag is-dark">Private</span>
            {% elif not team.private %}
                <span class="tag is-dark">Public</span>
            {% endif %}
        </div>
        <span class="is-block is-size-6">{{team.description}}</span>
        <div class="is-block mt-3">
            <span class="is-block is-size-6">You are already a member of this team.</span>
            <a class="button is-success" href="{% url 'Calendar' team.id %}">View Team</a>
        </div>
    </div>
    {% endfor %}

    {% for teams in all_teams %}
    <div class="container has-background-light box">
        <div class="is-size-5 mb-3">
            <span class="is-block is-size-5	has-text-weight-bold">{{teams.name}} <i class="fas fa-user-alt mx-2"></i>{{teams.count}}</span>
            {% if teams.private %}
                <span class="tag is-dark">Private</span>
            {% elif not teams.private %}
                <span class="tag is-dark">Public</span>
            {% endif %}
        </div>
        <span class="is-block is-size-6">{{teams.description}}</span>
        <div class="is-block mt-3">
            {% if teams.private %}
                <a class="button is-success" href="{% url 'join_team_2' teams.id 'Member' %}">Apply as Member</a>
                <a class="button is-link" href="{% url 'join_team_2' teams.id 'Follower' %}">Apply as Follower</a>
            {% else %}
                <a class="button is-success" href="{% url 'join_team_2' teams.id 'Member' %}">Join as Member</a>
                <a class="button is-link" href="{% url 'join_team_2' teams.id 'Follower' %}">Join as Follower</a>
            {% endif %}           
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
    function ShowHideDiv(chkJoined){
        var dvJoined = document.getElementById("dvJoined")
        dvJoined.style.display = chkJoined.checked ? "block" : "none";
    }
</script>
{% endblock %}