{% extends 'base.html' %}
{% load get_key %}
{% load check_absences %}
{% block title %}Miscellaneous{% endblock %}
{% load static %}
{% block content %}

<style>
    .RefreshBox {
        pointer-events: none;
        text-align: right;
        background-color: ghostwhite;
        border: 0px;
        font-size: 11pt;
        width: 24px;
        height: 12px;
    }

        .form-container {
        text-align: left;
    }

    .form-container .button {
        margin-top: 10px;
    }
</style>


<div class="main">
    <h1 class="title is-3">{{ team.name }} notes</h1>
    <p style="font-weight:bold"> Team Description: </p>
    <p> {{ team.description }}  </p>
    <p style="font-weight:bold"> Notes: </p>
    <div id="edit-notes">
        <p> {{ team.notes }} </p> 
        <button id="EditNotes"> Edit Notes Here</button>
    </div> 
    
    <!-- <form method="get" id="form">
        <input class="textbox" name="value">
        <button class="button is-info is-outlined mx-1" type="submit"><bold>Submit</bold></button>
    </form> -->
    
    <!-- <p> Notes section/board for viewing teams miscs & notes </p> -->
</div>


<script>
    $(document).ready(function() {
        $("#EditNotes").click(function(event) {
            event.preventDefault();

            const formContent = '<div class="form-container"><form method="get" id="form"> <input class="textarea" name="value" value="{{ team.notes }}"> </input> <button class="button is-info is-outlined mx-1" type="submit"><bold>Submit</bold></button></form></div>';
            $("#edit-notes").html(formContent);
        });
    });
</script>
{% endblock %}

