.RefreshBox {
    pointer-events: none;
    text-align: right;
    background-color: ghostwhite;
    border: 0px;
    font-size: 11pt;
    width: 24px;
    height: 12px;
}
.AbsenceBox {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 12px
}

.CalendarCell {
    min-width: 47px;
    max-width: 47px;
}

.nav-bar-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.button-active {
    border: green solid 2px;
}

.button-inactive {
    border: red solid 2px;
}

.calendar-group {
    overflow: auto;
    height: 75vh;
}

.dates-table {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 4;
}

.blank-cell {
    color: black; 
    width: 6vw; 
    min-width: 100px; 
    border: none !important;
}

.user-cell {
    width: 6vw; 
    min-width: 100px; 
    background-color: #0e00d6; 
    color: white; 
    overflow-x: auto
}